<div id="wrapper">
  <div id="content" class="AnimCorner" >
<section id="header">
      <img class="l_FirstLook" src="/assets/img/L_FirstLook.png">
</section>



<section id="formHolder" class="fadein" style="">

{{#simple-form class="card__form" onsubmit=(action "checkForm") as | formValues |}}
        {{input class="form__input" type="text" required=true value=formValues.email placeholder="E-Mail"}}<br/>
        {{input class="form__input" type="password" required=true value=formValues.password placeholder="Password"}}
        <!-- <a href="/firstlook/leaderboard/elite-ae15m"> -->
          <div class="button-box ">
          <button type="submit" class="Reg_btn" style="border-radius: 0rem; width: 280px;">Login</button>
          </div>
          {{#link-to "firstlook.forgotpassword"}}<p style="margin-top: 1rem; color: white;">Forgot Password?</p>{{/link-to}}
          {{#link-to "firstlook.salesforce"}}<div class="button-box ">
            <button type="button" class="Reg_btn" style="border-radius: 0rem; width: 280px;">Create Account</button>
          </div>
          {{/link-to}}
        <!-- </a> -->
 {{/simple-form}}

 <!-- <form {{action 'authenticate' on='submit'}}>
  <label for="identification">Login</label>
  {{input id='identification' placeholder='Enter Login' value=identification}}
  <label for="password">Password</label>
  {{input id='password' placeholder='Enter Password' type='password' value=password}}
  <button type="submit">Login</button>
</form> -->
</section>





<section id="bottomLogo">
  <img src="/assets/img/Spectrum_Reach_Rev_RGB.svg">
</section>

</div>
</div>

{{outlet}}
