<div id="wrapper" class="homepageWrapper">
  <div id="contentHome" class="" >
    <section id="header">
      <div class="userNameTop">Welcome, {{ currentUser.pid.firstname }}  <img style="border-radius: 50%;" src="{{currentUser.pid.fullProfilePicUrl}}" width="25"></div>
          {{#link-to 'firstlook.homepage'}}<img class="l_FirstLook" src="/assets/img/L_FirstLook.png" >{{/link-to}}
    </section>


    <section id="comapnyGoal" class="" style="">
      <div  class=" container"  >
      <div class="row col-xs-12" style="text-align:right; display:block;">
         <div style=" " class="lastUpdated"><p class=" dkBlue"><span style="color: white;">Last Update:</span> Thur Jan 19, 4:00pm cst</p></div>
      </div>
    </div>

    <div  class="container "  style=""  >
    <div class="row" >
      <div class="col-xs-12 col-md-4 bowen" >
      <div >
        <img src="/assets/img/homepage/dt_bowenkeith.png" style="  border:2px solid white; border-radius: 50%;" align="left">
        <p class=" bowenName">Keith Bowen </p>
        <p class="bowenTitle" >SVP, Chief Revenue&nbsp;Officer</p>
      </div>
    </div>
    	<div class="col-xs-12 col-md-8 progressBox" >
    	 	 <div style="float:left;"> <h2 style="color:#003057;">COMPANY-WIDE PROGRESS</h2></div>   <div style="float:right; color:#fff;"><h2 style="color:#fff;">56.48% </h2></div>
          <div class="progress" style="clear:both; background-color:white; border:1px solid #003057;">
            <div class="progress-bar" role="progressbar" aria-valuenow="56.48" aria-valuemin="0" aria-valuemax="100" style=" width:56.48%; ">
              <!-- <span class="">70% </span> -->
            </div>
          </div>
          <div style="float:left; margin-top:10px"><h2 style="color:#fff;">2018 GOAL</h2></div>   <div style="float:right;margin-top:10px"><h2 style="color:#003057;">$288,067,705/$510,000,000 </h2></div>
    	 </div>


    </div>
    </div>
    </section>
    {{#if model.mine }}
    <section id="personalNumbers" class="graygradient" style="">
      <div  class="container "  >
    <div class="row" >
    	     <div class="col-md-12 col-lg-6" >
             <div class=" "  style="text-align:left; ">
               <div class="image2nd " >
                 {{#each model.mine as |ae15m|}}
                 <div class="rank ">#{{ae15m.rank}}</div><a href="https://spectrumreach.typeform.com/to/zdQZSe" target="_blank"><img style="" src="{{currentUser.pid.fullProfilePicUrl}}" ></a>
                 {{/each}}
               </div>

             <div class="userData ">
               <h2 style="font-size: 25px;">{{ currentUser.pid.firstname}} {{ currentUser.pid.lastname}}</h2><h2 style="font-size: 25px;" class="ltBlue">{{ currentUser.pid.pid}}</h2>
               <div style="font-size:14px; line-height:22px;">
                 <span class="ltBlue">Manager</span> {{ currentUser.pid.managername}}<br> <span class="ltBlue">Division</span> {{ currentUser.pid.division}}<br> <span class="ltBlue">Region</span> {{ currentUser.pid.region}}
               </div>
             </div>

             </div>
           </div >

    	  <div class=" col-md-12 col-lg-6" >
    	 	 <div style="float:left;"><h2 style="color:#003057;">&nbsp;</h2></div>   <div  style="float:right;"><h1 class="dkBlue" style="">{{#each model.mine as |ae15m|}}
        {{ ae15m.fullyear }}%
        {{/each}} </h1></div>
        {{#each model.mine as |ae15m|}}
          <div class="progress" style="clear:both; background-color:white; border:1px solid #0099D8;">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{ ae15m.fullyear }}" aria-valuemin="0" aria-valuemax="100" style=" width:{{ ae15m.fullyear }}%; ">
              <!-- <span class="">70% </span> -->
            </div>
          </div>

          {{/each}}
          <!-- <div style="float:left; margin-top:10px;"><h2>&nbsp;</h2></div>   <div style="float:right; margin-top:10px;"><h2 style="color:#003057;">$433,500/$510,000 </h2></div> -->
    	 </div>


    </div>
    </div>
    </section>
    {{/if}}

<section id="leadingNumbers" class="graygradient" style="">
  <div  class="container "  >

{{outlet}}


</div>
</section>

<section id="lsmLeaders" class="graygradient" style="">
 <div  class="container "   >

   <div class=" row " style=" " >
     <div class="col-lg-12" style="text-align: left;"><h1>LEADERBOARD<span class="dkBlue">/LSM</span></h1><p class="footnote" style="padding-left: 5px;">1st Place in each Region based on % to goal</p>
     </div>
   </div>

   <div class="row lsmGroup" >
            <div class="col-xs-12 col-md-4 col-lg-3" >
              <div class="row lsmMobileRow">
              <div class="col-sm-4 col-md-12"><p><img src="/assets/img/generic_thumbnail.svg" class="lsmImg"></p></div>
              <div class="col-sm-8 col-md-12 lsmDataMobile">
              <h4 class="ltBlue">$483,093</h4>
              <h5><span class="ltBlue">Name: </span>Dino Gerdeman </h5>
              <h5><span class="ltBlue">Region: </span>Ohio</h5>
            </div>
          </div>
          </div>

            <div class="col-xs-12 col-md-4 col-lg-3" >
              <div class="row lsmMobileRow">
              <div class="col-sm-4 col-md-12"><p><img src="/assets/img/generic_thumbnail.svg" class="lsmImg"></p></div>
              <div class="col-sm-8 col-md-12 lsmDataMobile">
              <h4 class="ltBlue">$443,352</h4>
              <h5><span class="ltBlue">Name: </span>Jody Walker Little </h5>
              <h5><span class="ltBlue">Region: </span>Carolinas</h5>
            </div>
          </div>
        </div>

            <div class="col-xs-12 col-md-4 col-lg-3" >
              <div class="row lsmMobileRow">
                <div class="col-sm-4 col-md-12"><p><img src="/assets/img/generic_thumbnail.svg" class="lsmImg"></p></div>
              <div class="col-sm-8 col-md-12 lsmDataMobile">
              <h4 class="ltBlue">$382,053</h4>
              <h5><span class="ltBlue">Name: </span>Joseph Flores </h5>
              <h5><span class="ltBlue">Region: </span>LA</h5>
            </div>
            </div>
          </div>

            <div class="col-xs-12 col-md-4 col-lg-3" >
            <div class="row lsmMobileRow">
              <div class="col-sm-4 col-md-12">  <p><img src="/assets/img/generic_thumbnail.svg" class="lsmImg"></p></div>
            <div class="col-sm-8 col-md-12 lsmDataMobile">
            <h4 class="ltBlue">$319,152</h4>
            <h5><span class="ltBlue">Name: </span>Ann Carletta </h5>
            <h5><span class="ltBlue">Region: </span>New York</h5>
            </div>
          </div>
        </div>



            <div class="col-xs-12 col-md-4 col-lg-3" >
              <div class="row lsmMobileRow">
                <div class="col-sm-4 col-md-12"><p><img src="/assets/img/generic_thumbnail.svg" class="lsmImg"></p></div>
              <div class="col-sm-8 col-md-12 lsmDataMobile">
              <h4 class="ltBlue">$271,909</h4>
              <h5><span class="ltBlue">Name: </span>House Grand Junction </h5>
              <h5><span class="ltBlue">Region: </span>Mountain States</h5>
            </div>
          </div>
        </div>


            <div class="col-xs-12 col-md-4 col-lg-3" >
              <div class="row lsmMobileRow">
                <div class="col-sm-4 col-md-12"><p><img src="/assets/img/generic_thumbnail.svg" class="lsmImg"></p></div>
              <div class="col-sm-8 col-md-12 lsmDataMobile">
                <h4 class="ltBlue">$212,505</h4>
                <h5><span class="ltBlue">Name: </span>Erin Duffy </h5>
                <h5><span class="ltBlue">Region: </span>Upstate NY / ME</h5>
            </div>
          </div>
        </div>


            <div class="col-xs-12 col-md-4 col-lg-3" >
              <div class="row lsmMobileRow">
                <div class="col-sm-4 col-md-12"><p><img src="/assets/img/generic_thumbnail.svg" class="lsmImg"></p></div>
              <div class="col-sm-8 col-md-12 lsmDataMobile">
              <h4 class="ltBlue">$161,466</h4>
              <h5><span class="ltBlue">Name: </span>Mark Chastain </h5>
              <h5><span class="ltBlue">Region: </span>Ohio</h5>
            </div>
          </div>
        </div>


            <div class="col-xs-12 col-md-4 col-lg-3" >
              <div class="row lsmMobileRow">
                <div class="col-sm-4 col-md-12"><p><img src="/assets/img/generic_thumbnail.svg" class="lsmImg"></p></div>
              <div class="col-sm-8 col-md-12 lsmDataMobile">
              <h4 class="ltBlue">$104,118</h4>
              <h5><span class="ltBlue">Name: </span>Nathaniel McCray </h5>
              <h5><span class="ltBlue">Region: </span>Texas</h5>
            </div>
          </div>
        </div>




            <div class="col-xs-12 col-md-4 col-lg-3" >
              <div class="row lsmMobileRow">
                <div class="col-sm-4 col-md-12"><p><img src="/assets/img/generic_thumbnail.svg" class="lsmImg"></p></div>
              <div class="col-sm-8 col-md-12 lsmDataMobile">
              <h4 class="ltBlue">$83,183</h4>
              <h5><span class="ltBlue">Name: </span>Bob Marr </h5>
              <h5><span class="ltBlue">Region: </span>MidWest</h5>
            </div>
          </div>
        </div>


            <div class="col-xs-12 col-md-4 col-lg-3" >
            <div class="row lsmMobileRow">
              <div class="col-sm-4 col-md-12">  <p><img src="/assets/img/generic_thumbnail.svg" class="lsmImg"></p></div>
            <div class="col-sm-8 col-md-12 lsmDataMobile">
            <h4 class="ltBlue">$77,827</h4>
            <h5><span class="ltBlue">Name: </span>Kevin Tucker </h5>
            <h5><span class="ltBlue">Region: </span>Ohio</h5>
            </div>
          </div>
        </div>


            <div class="col-xs-12 col-md-4 col-lg-3" >
            <div class="row lsmMobileRow">
                <div class="col-sm-4 col-md-12"><p><img src="/assets/img/generic_thumbnail.svg" class="lsmImg"></p></div>
              <div class="col-sm-8 col-md-12 lsmDataMobile">
              <h4 class="ltBlue">$73,707</h4>
              <h5><span class="ltBlue">Name: </span>John Pedevilla </h5>
              <h5><span class="ltBlue">Region: </span>Texas</h5>
            </div>
          </div>
        </div>


            <div class="col-xs-12 col-md-4 col-lg-3" >
              <div class="row lsmMobileRow">
                <div class="col-sm-4 col-md-12"><p><img src="/assets/img/generic_thumbnail.svg" class="lsmImg"></p></div>
              <div class="col-sm-8 col-md-12 lsmDataMobile">
              <h4 class="ltBlue">$25,338</h4>
              <h5><span class="ltBlue">Name: </span>Kendall Char </h5>
              <h5><span class="ltBlue">Region: </span>Pacific States</h5>
            </div>
          </div>
        </div>


   </div>


</div>
</section>


<section id="standings" class="" style="margin-bottom:-30px;" >

  <div class="container" >
    <div class="row " >
      <div class="col-lg-7">
        <div class="col-sm-9 col-lg-12 text-left" ><h1>STANDINGS</h1></div>
        <div id="pdf"  class="col-sm-3 col-lg-12 "> <a href="/assets/img/FirstlookGoalsData-2copy.pdf" target="_blank" style="color:#0099D8;"><img src="/assets/img/pdf-download.png" alt="download pdf"/></a></div>
    </div>

    <!-- Tabs section Temporarily until New Tabs are built-->
    <!-- hide on mobile  -->
     <div class="row col-lg-5" id="Filters"  >
    <div class=" filters " style="    padding-left: 8px;" >

            <div id="ae15mBtn" class="filterBtn filterBtn1 AE15mActive" {{action "filterCategoryAllaes"}}>
              &nbsp;</div>
            <div id="ae1mBtn" class="filterBtn filterBtn2" {{action "filterCategoryAE1m"}}>
                &nbsp;</div>
            <div id="ae700kBtn" class="filterBtn filterBtn3" {{action "filterCategoryAE700k"}} >
                &nbsp;</div>
            <div id="ae450kBtn" class="filterBtn filterBtn4" {{action "filterCategoryAE450k"}}>
              &nbsp;</div>
            <div id="ae499kBtn" class="filterBtn filterBtn5" {{action "filterCategoryAE499k"}}>
                &nbsp;</div>

      </div>
    </div>
  </div>
<!-- show on mobile size only  -->
    <div class="row" id="FilterDisclaimer"  >
      <p style="text-align:left; padding: 4px 12px; ">Visit our desktop version for more info, searchable data, and filtering capabilities or download complete standings above.</p>
    </div>

  </div>

</section>

<section id="AElist" class="" style="">

<!--   ================================   -->
<!--  KEEP THIS AS HEADER  -->
<!--   ================================   -->

<!-- <div class="dataheader" style=" color:white;">
  <div class="container-fluid" >
    <div class="row listHide3" >

      <div class="col-xxs-2 col-sm-2 col-md-1">#</div>
      <div class="col-xxs-2 col-sm-2 col-md-1">&nbsp;</div>
        <div class="col-xxs-3 col-sm-3 col-md-2">AE Name</div>
        <div class="col-xxs-3 col-sm-3 col-md-2 col-lg-1 ">Manager</div>
        <div class="col-xxs-1 col-md-2 col-lg-1 listHide2">Division</div>
        <div class="col-xxs-1 col-md-2 col-lg-1 listHide2">Region</div>
        <div class="col-xxs-1 col-md-3 listHide ">Progress</div>
        <div class="col-xxs-1 col-sm-1">%</div>
        <div class="col-xxs-1  col-sm-1"><span class="" style="z-index:10000;" {{action "resetList"}}>Top <img src="/assets/img/leaderboard/return_top.svg" /></span></div>
    </div>
</div>
</div> -->

  <div id="datatable" class="container-fluid datatable" >

    <!--   ================================   -->
    <!--  REPLACE EACH 2 SET OF ROWS BELOW WITH DATA   -->
    <!--   ================================   -->
     <!-- <div class="row" > -->

    <!-- {{full-standings model=model}} -->
    <!-- {{test-component}} -->
  <!-- </div> -->

  <!--   ================================   -->
  <!--  Keep this row for when we need to create mobile view   -->
  <!--   ================================   -->

    <!--   ================================   -->
                    <!--  end   -->
    <!--   ================================   -->


    <!--   ================================   -->
    <!--  1m table  -->
    <!--   ================================   -->
    <div class="row hide" id="ae1m" >
      <div class="col-lg-12">
        {{models-table
          data=model.ae1m
          columns=columns
          showGlobalFilter=false
          showComponentFooter=false
          filteringIgnoreCase=true
          columnComponents=(hash progressBar=(component "progress-bar") percentSymbol=(component "percent-symbol") rankNumber=(component "rank-number") profileImg=(component "profile-img"))
          pageSize=755}}
        </div>
    </div>
    <!--   ================================   -->
    <!--  700K table  -->
    <!--   ================================   -->
    <div class="row hide" id="ae700k" >
      <div class="col-lg-12">
        {{models-table
          data=model.ae700k
          columns=columns
          showGlobalFilter=false
          showComponentFooter=false
          filteringIgnoreCase=true
          columnComponents=(hash progressBar=(component "progress-bar") percentSymbol=(component "percent-symbol") rankNumber=(component "rank-number") profileImg=(component "profile-img"))
          pageSize=755}}
        </div>
    </div>
    <!--   ================================   -->
    <!--  450K table  -->
    <!--   ================================   -->

    <div class="row hide" id="ae450k" >
      <div class="col-lg-12">
        {{models-table
          data=model.ae450k
          columns=columns
          showGlobalFilter=false
          showComponentFooter=false
          filteringIgnoreCase=true
          columnComponents=(hash progressBar=(component "progress-bar") percentSymbol=(component "percent-symbol") rankNumber=(component "rank-number") profileImg=(component "profile-img"))
          pageSize=755}}
        </div>
    </div>

    <!--   ================================   -->
    <!--  449K table  -->
    <!--   ================================   -->
    <div class="row hide" id="ae499k" >
      <div class="col-lg-12">
        {{models-table
          data=model.ae499k
          columns=columns
          showGlobalFilter=false
          showComponentFooter=false
          filteringIgnoreCase=true
          columnComponents=(hash progressBar=(component "progress-bar") percentSymbol=(component "percent-symbol") rankNumber=(component "rank-number") profileImg=(component "profile-img"))
          pageSize=755}}
        </div>
    </div>

    <!--   ================================   -->
    <!--  1.5m+ table  -->
    <!--   ================================   -->
    <div class="row" id="allae" >
      <div class="col-lg-12">
        {{models-table
          data=model.allae
          columns=columns
          showGlobalFilter=false
          showComponentFooter=false
          filteringIgnoreCase=true
          columnComponents=(hash progressBar=(component "progress-bar") percentSymbol=(component "percent-symbol") rankNumber=(component "rank-number") profileImg=(component "profile-img"))
          pageSize=755}}
        </div>
    </div>

    <!--   ================================   -->
    <!--  Models Table example   -->
    <!--   ================================   -->
    <div class="row hide" id="northeast" >
      <div class="col-lg-12">
        {{models-table
          data=model.allae
          columns=columns
          showGlobalFilter=false
          showComponentFooter=false
          filteringIgnoreCase=true
          columnComponents=(hash progressBar=(component "progress-bar") percentSymbol=(component "percent-symbol") rankNumber=(component "rank-number") profileImg=(component "profile-img"))
          pageSize=755}}
        </div>
    </div>


  <!-- <div class="row" >
    <div class="col-xs-2 col-sm-2 col-md-1 bgDkBlue">2</div>
      <div class="col-xs-2 col-sm-2 col-md-1"><img src="/assets/img/homepage/nav_generic_thumb.svg"></div>
      <div class="col-xs-3 col-sm-3 col-md-2">AE Name</div>
      <div class="col-xs-3 col-sm-3 col-md-2 col-lg-1 ">Manager</div>
      <div class="col-xs-1 col-md-2 col-lg-1 listHide2">Division</div>
      <div class="col-xs-1 col-md-2 col-lg-1 listHide2">Region</div>
        <div class="col-xs-1 col-md-3 listHide">
          <div class="progress" style=" background-color:white; border:1px solid #0099D8;">
            <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="background-color:#0099D8; width:10%; "> -->
              <!-- <span class="">70% </span> -->
            <!-- </div>
          </div></div>        <div class="col-sm-1">%</div>
        <div class="col-xs-1  col-sm-1">&nbsp;</div>
    </div> -->

    <!-- <div class="row" >
      <div class="col-xs-2 col-sm-2 col-md-1 bgLtBLue">1</div>
    <div class="col-xs-2 col-sm-2 col-md-1"><img src="/assets/img/homepage/nav_generic_thumb.svg"></div>
      <div class="col-xs-3 col-sm-3 col-md-2">AE Name</div>
      <div class="col-xs-3 col-sm-3 col-md-2 col-lg-1 ">Manager</div>
      <div class="col-xs-1 col-md-2 col-lg-1 listHide2">Division</div>
      <div class="col-xs-1 col-md-2 col-lg-1 listHide2">Region</div>
      <div class="col-xs-1 col-md-3 listHide">
          <div class="progress" style=" background-color:white; border:1px solid #0099D8;">
            <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="background-color:#0099D8; width:10%; "> -->
              <!-- <span class="">70% </span> -->
            <!-- </div>
          </div></div>        <div class="col-sm-1">%</div>
          <div class="col-xs-1  col-sm-1"></div>
    </div> -->

    <!-- <div class="row" >
    <div class="col-xs-2 col-sm-2 col-md-1 bgDkBlue">2</div>
      <div class="col-xs-2 col-sm-2 col-md-1"><img src="/assets/img/homepage/nav_generic_thumb.svg"></div>
      <div class="col-xs-3 col-sm-3 col-md-2">AE Name</div>
      <div class="col-xs-3 col-sm-3 col-md-2 col-lg-1 ">Manager</div>
      <div class="col-xs-1 col-md-2 col-lg-1 listHide2">Division</div>
      <div class="col-xs-1 col-md-2 col-lg-1 listHide2">Region</div>
        <div class="col-xs-1 col-md-3 listHide">
          <div class="progress" style=" background-color:white; border:1px solid #0099D8;">
            <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="background-color:#0099D8; width:10%; "> -->
              <!-- <span class="">70% </span> -->
            <!-- </div>
          </div></div>        <div class="col-sm-1">%</div>
        <div class="col-xs-1  col-sm-1">&nbsp;</div>
    </div> -->

    <!-- <div class="row" >
      <div class="col-xs-2 col-sm-2 col-md-1 bgLtBLue">1</div>
    <div class="col-xs-2 col-sm-2 col-md-1"><img src="/assets/img/homepage/nav_generic_thumb.svg"></div>
      <div class="col-xs-3 col-sm-3 col-md-2">AE Name</div>
      <div class="col-xs-3 col-sm-3 col-md-2 col-lg-1 ">Manager</div>
      <div class="col-xs-1 col-md-2 col-lg-1 listHide2">Division</div>
      <div class="col-xs-1 col-md-2 col-lg-1 listHide2">Region</div>
      <div class="col-xs-1 col-md-3 listHide">
          <div class="progress" style=" background-color:white; border:1px solid #0099D8;">
            <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="background-color:#0099D8; width:10%; "> -->
              <!-- <span class="">70% </span> -->
            <!-- </div>
          </div></div>        <div class="col-sm-1">%</div>
          <div class="col-xs-1  col-sm-1"></div>
    </div> -->

    <!-- <div class="row" >
    <div class="col-xs-2 col-sm-2 col-md-1 bgDkBlue">2</div>
      <div class="col-xs-2 col-sm-2 col-md-1"><img src="/assets/img/homepage/nav_generic_thumb.svg"></div>
      <div class="col-xs-3 col-sm-3 col-md-2">AE Name</div>
      <div class="col-xs-3 col-sm-3 col-md-2 col-lg-1 ">Manager</div>
      <div class="col-xs-1 col-md-2 col-lg-1 listHide2">Division</div>
      <div class="col-xs-1 col-md-2 col-lg-1 listHide2">Region</div>
        <div class="col-xs-1 col-md-3 listHide">
          <div class="progress" style=" background-color:white; border:1px solid #0099D8;">
            <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="background-color:#0099D8; width:10%; "> -->
              <!-- <span class="">70% </span> -->
            <!-- </div>
          </div></div>        <div class="col-sm-1">%</div>
        <div class="col-xs-1  col-sm-1">&nbsp;</div>
    </div> -->

    <!-- <div class="row" >
      <div class="col-xs-2 col-sm-2 col-md-1 bgLtBLue">1</div>
    <div class="col-xs-2 col-sm-2 col-md-1"><img src="/assets/img/homepage/nav_generic_thumb.svg"></div>
      <div class="col-xs-3 col-sm-3 col-md-2">AE Name</div>
      <div class="col-xs-3 col-sm-3 col-md-2 col-lg-1 ">Manager</div>
      <div class="col-xs-1 col-md-2 col-lg-1 listHide2">Division</div>
      <div class="col-xs-1 col-md-2 col-lg-1 listHide2">Region</div>
      <div class="col-xs-1 col-md-3 listHide">
          <div class="progress" style=" background-color:white; border:1px solid #0099D8;">
            <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="background-color:#0099D8; width:10%; "> -->
              <!-- <span class="">70% </span> -->
            <!-- </div>
          </div></div>        <div class="col-sm-1">%</div>
          <div class="col-xs-1  col-sm-1"></div>
    </div> -->

    <!-- <div class="row" >
    <div class="col-xs-2 col-sm-2 col-md-1 bgDkBlue">2</div>
      <div class="col-xs-2 col-sm-2 col-md-1"><img src="/assets/img/homepage/nav_generic_thumb.svg"></div>
      <div class="col-xs-3 col-sm-3 col-md-2">AE Name</div>
      <div class="col-xs-3 col-sm-3 col-md-2 col-lg-1 ">Manager</div>
      <div class="col-xs-1 col-md-2 col-lg-1 listHide2">Division</div>
      <div class="col-xs-1 col-md-2 col-lg-1 listHide2">Region</div>
        <div class="col-xs-1 col-md-3 listHide">
          <div class="progress" style=" background-color:white; border:1px solid #0099D8;">
            <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="background-color:#0099D8; width:10%; "> -->
              <!-- <span class="">70% </span> -->
            <!-- </div>
          </div></div>        <div class="col-sm-1">%</div>
        <div class="col-xs-1  col-sm-1">&nbsp;</div>
    </div> -->

    <!-- <div class="row" >
      <div class="col-xs-2 col-sm-2 col-md-1 bgLtBLue">1</div>
    <div class="col-xs-2 col-sm-2 col-md-1"><img src="/assets/img/homepage/nav_generic_thumb.svg"></div>
      <div class="col-xs-3 col-sm-3 col-md-2">AE Name</div>
      <div class="col-xs-3 col-sm-3 col-md-2 col-lg-1 ">Manager</div>
      <div class="col-xs-1 col-md-2 col-lg-1 listHide2">Division</div>
      <div class="col-xs-1 col-md-2 col-lg-1 listHide2">Region</div>
      <div class="col-xs-1 col-md-3 listHide">
          <div class="progress" style=" background-color:white; border:1px solid #0099D8;">
            <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="background-color:#0099D8; width:10%; "> -->
              <!-- <span class="">70% </span> -->
            <!-- </div>
          </div></div>        <div class="col-sm-1">%</div>
          <div class="col-xs-1  col-sm-1"></div>
    </div> -->

    <!-- <div class="row" >
    <div class="col-xs-2 col-sm-2 col-md-1 bgDkBlue">2</div>
      <div class="col-xs-2 col-sm-2 col-md-1"><img src="/assets/img/homepage/nav_generic_thumb.svg"></div>
      <div class="col-xs-3 col-sm-3 col-md-2">AE Name</div>
      <div class="col-xs-3 col-sm-3 col-md-2 col-lg-1 ">Manager</div>
      <div class="col-xs-1 col-md-2 col-lg-1 listHide2">Division</div>
      <div class="col-xs-1 col-md-2 col-lg-1 listHide2">Region</div>
        <div class="col-xs-1 col-md-3 listHide">
          <div class="progress" style=" background-color:white; border:1px solid #0099D8;">
            <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="background-color:#0099D8; width:10%; "> -->
              <!-- <span class="">70% </span> -->
            <!-- </div>
          </div></div>        <div class="col-sm-1">%</div>
        <div class="col-xs-1  col-sm-1">&nbsp;</div>
    </div> -->

    <!-- <div class="row" >
      <div class="col-xs-2 col-sm-2 col-md-1 bgLtBLue">1</div>
    <div class="col-xs-2 col-sm-2 col-md-1"><img src="/assets/img/homepage/nav_generic_thumb.svg"></div>
      <div class="col-xs-3 col-sm-3 col-md-2">AE Name</div>
      <div class="col-xs-3 col-sm-3 col-md-2 col-lg-1 ">Manager</div>
      <div class="col-xs-1 col-md-2 col-lg-1 listHide2">Division</div>
      <div class="col-xs-1 col-md-2 col-lg-1 listHide2">Region</div>
      <div class="col-xs-1 col-md-3 listHide">
          <div class="progress" style=" background-color:white; border:1px solid #0099D8;">
            <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="background-color:#0099D8; width:10%; "> -->
              <!-- <span class="">70% </span> -->
            <!-- </div>
          </div></div>        <div class="col-sm-1">%</div>
          <div class="col-xs-1  col-sm-1"></div>
    </div> -->

    <!-- <div class="row" >
    <div class="col-xs-2 col-sm-2 col-md-1 bgDkBlue">2</div>
      <div class="col-xs-2 col-sm-2 col-md-1"><img src="/assets/img/homepage/nav_generic_thumb.svg"></div>
      <div class="col-xs-3 col-sm-3 col-md-2">AE Name</div>
      <div class="col-xs-3 col-sm-3 col-md-2 col-lg-1 ">Manager</div>
      <div class="col-xs-1 col-md-2 col-lg-1 listHide2">Division</div>
      <div class="col-xs-1 col-md-2 col-lg-1 listHide2">Region</div>
        <div class="col-xs-1 col-md-3 listHide">
          <div class="progress" style=" background-color:white; border:1px solid #0099D8;">
            <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="background-color:#0099D8; width:10%; "> -->
              <!-- <span class="">70% </span> -->
            <!-- </div>
          </div></div>        <div class="col-sm-1">%</div>
        <div class="col-xs-1  col-sm-1">&nbsp;</div>
    </div>  -->


    <!--   ================================   -->
    <!--  END OF DATA   -->
    <!--   ================================   -->

</div>


<div class="spacer10" style="">&nbsp;</div>
</section>

<section id="homepageCornerLogo">
  <img src="/assets/img/Spectrum_Reach_Rev_RGB.svg">
</section>

<section id="stickyFooter">
<div class="copyright"><p>Copyright 2018 • Spectrum Reach • All Rights Reserved</p></div>
 <div class="toTop"><span class="" {{action "scrollToTop"}}><span style="color:#fff;">Top</span> <img src="/assets/img/leaderboard/return_top.svg" /></span></div>

</section>

</div>
<!--  END WRAPPER  -->
</div>
