<div id="wrapper" class="homepageWrapper">
  <div id="contentHome" class="" >
    <section id="header" >
      <div class="userNameTop">Welcome, Jane</div>
          <img class="l_FirstLook" src="/assets/img/L_FirstLook.png" >
    </section>


    <section id="comapnyGoal" class="" style="">
      <div  class="container "  >
    <div class="row" >


    	      <div class="col-sm-12" >

    	 	 <div style="float:left;"><h2 style="color:#003057;">COMPANY-WIDE GOAL</h2></div>   <div style="float:right; color:#fff;"><h2 style="color:#fff;">50.0% </h2></div>
          <div class="progress" style="clear:both; background-color:white; border:1px solid #003057;">
            <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style=" width:50%; ">
              <!-- <span class="">70% </span> -->
            </div>
          </div>
          <div style="float:left; margin-top:10px"><h2 style="color:#fff;">2018 GOAL</h2></div>   <div style="float:right;margin-top:10px"><h2 style="color:#003057;">$255,000,000/$510,000,000 </h2></div>

    	 </div>


    </div>
    </div>
    </section>


    <section id="personalNumbers" class="graygradient" style="">
      <div  class="container "  >
    <div class="row" >

    	     <div class="col-md-12 col-lg-6" >
             <div class=" "  style="text-align:left; ">
               <div class="image2nd " >
                 <div class="rank ">#125</div><img src="/assets/img/leaderboard/2nd-5th_place.png"   >

               </div>

             <div style=" ">
               <h3>Jane Smith</h3><h3 class="ltBlue">P123456</h3>
               <div>
                 <span class="ltBlue">Manager</span> Robert Johnson<br> <span class="ltBlue">Division</span> Pacific West<br> <span class="ltBlue">Region</span> Los Angeles
               </div>
             </div>

             </div>
           </div >

    	  <div class=" col-md-12 col-lg-6" >
    	 	 <div style="float:left;"><h2 style="color:#003057;">&nbsp;</h2></div>   <div  style="float:right;"><h2 class="ltBlue">50.0% </h2></div>
          <div class="progress" style="clear:both; background-color:white; border:1px solid #0099D8;">
            <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style=" width:50%; ">
              <!-- <span class="">70% </span> -->
            </div>
          </div>
          <div style="float:left; margin-top:10px;"><h2>&nbsp;</h2></div>   <div style="float:right; margin-top:10px;"><h2 style="color:#003057;">$255,000/$510,000 </h2></div>
    	 </div>


    </div>
    </div>
    </section>

<section id="leadingNumbers" class="graygradient" style="">
  <div  class="container "  >

{{outlet}}


</div>
</section>




<section id="standings" class="" style="margin-bottom:-30px;" >

  <div class="container" >
    <div class="row" >
    <div class="" ><h1>STANDINGS</h1></div>

    <div {{action "showFilters"}} id="showFilter" class=" filter" style="float:left; margin:24px 2px 0 30px;">Filters <img src="/assets/img/leaderboard/nav_right.png" height="16" class="" id="nav_right"></div>
    <div {{action "hideFilters"}} id="hideFilter" class=" filter hide" style="float:left; margin:24px 2px 0 30px;">Filters <img src="/assets/img/leaderboard/nav_right.png" height="16" class="rotate90 " id="nav_right"></div>

    </div>

    <div class="row hide" id="Filters"  >
    <div class="col-lg-12 filters " ><div class="filterBtn active" {{action "showAll"}} ><h3  class="ltBlue">All</h3></div><div class="filterBtn" {{action "showCategory"}}><h3  class="ltBlue">Category</h3></div><div class="filterBtn" {{action "showDivision"}}><h3 class="ltBlue">Division</h3></div><div class="filterBtn" {{action "showRegion"}} ><h3  class="ltBlue">Region</h3></div><div class="filterBtn" {{action "showManager"}}><h3  class="ltBlue">Manager</h3></div><div class="filterBtn" {{action "showAE"}}><h3  class="ltBlue">AE Name</h3></div></div>
        <div id="filterCategory" class="row hide" >
            <div class="filterOptions">
              <ul><li>1.5m+</li><li>1.0m-1.49m</li><li>700k-999k</li><li>450k-699k</li><li>499k-under</li></ul>
            </div>
        </div>
        <div id="filterDivisions" class="row  hide" >
            <div class="filterOptions">
              <ul><li>Northeast</li><li>Northwest</li><li>Southeast</li><li>West</li></ul>
            </div>
        </div>

        <div id="filterRegions" class="row  hide" >
            <div class="filterOptions">
              <ul><li>Carolinas</li><li>Florida</li><li>LA</li><li>MidNorth</li><li>Midwest</li><li>Mountain States</li><li>New York</li><li>Ohio</li><li>Pacific States</li><li>Southeast</li><li>Texas</li><li>Upstate NY - ME</li></ul>
            </div>
        </div>

        <div id="filterManagers" class="row  hide" >
            <div class="filterOptions">
              <ul><li>All Managers - otherwise, use search</li></ul>
            </div>
        </div>

        <div id="filterAEs" class="row  hide" >
            <div class="filterOptions">
              <ul><li>All AEs - otherwise, use search</li></ul>
            </div>
        </div>

    </div>

  </div>

</section>

<section id="AElist" class="" style="">

<!--   ================================   -->
<!--  KEEP THIS AS HEADER  -->
<!--   ================================   -->

<div class="dataheader" style=" color:white;">
  <div class="container" >
    <div class="row listHide3" >

      <div class="col-xxs-2 col-sm-2 col-md-1">#</div>
      <div class="col-xxs-2 col-sm-2 col-md-1">&nbsp;</div>
        <div class="col-xxs-3 col-sm-3 col-md-2">AE Name</div>
        <div class="col-xxs-3 col-sm-3 col-md-2 col-lg-1 ">Manager</div>
        <div class="col-xxs-1 col-md-2 col-lg-1 listHide2">Division</div>
        <div class="col-xxs-1 col-md-2 col-lg-1 listHide2">Region</div>
        <div class="col-xxs-1 col-md-3 listHide ">Progress</div>
        <div class="col-xxs-1 col-sm-1">%</div>
        <div class="col-xxs-1  col-sm-1"><span class="" style="z-index:10000;" {{action "resetList"}}><img src="/assets/img/leaderboard/return_top.svg" /></span></div>
    </div>
</div>
</div>

  <div id="datatable" class="container datatable" >

    <!--   ================================   -->
    <!--  REPLACE EACH 2 SET OF ROWS BELOW WITH DATA   -->
    <!--   ================================   -->

    <div class="row" >
      <div class="col-xs-2 col-sm-2 col-md-1 bgLtBLue">1</div>
    <div class="col-xs-2 col-sm-2 col-md-1"><img src="/assets/img/homepage/nav_generic_thumb.svg"></div>
      <div class="col-xs-3 col-sm-3 col-md-2">AE Name</div>
      <div class="col-xs-3 col-sm-3 col-md-2 col-lg-1 ">Manager</div>
      <div class="col-xs-1 col-md-2 col-lg-1 listHide2">Division</div>
      <div class="col-xs-1 col-md-2 col-lg-1 listHide2">Region</div>
      <div class="col-xs-1 col-md-3 listHide">
          <div class="progress" style=" background-color:white; border:1px solid #0099D8;">
            <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="background-color:#0099D8; width:10%; ">
              <!-- <span class="">70% </span> -->
            </div>
          </div></div>        <div class="col-sm-1">%</div>
          <div class="col-xs-1  col-sm-1"></div>
    </div>

    <div class="row" >
    <div class="col-xs-2 col-sm-2 col-md-1 bgDkBlue">2</div>
      <div class="col-xs-2 col-sm-2 col-md-1"><img src="/assets/img/homepage/nav_generic_thumb.svg"></div>
      <div class="col-xs-3 col-sm-3 col-md-2">AE Name</div>
      <div class="col-xs-3 col-sm-3 col-md-2 col-lg-1 ">Manager</div>
      <div class="col-xs-1 col-md-2 col-lg-1 listHide2">Division</div>
      <div class="col-xs-1 col-md-2 col-lg-1 listHide2">Region</div>
        <div class="col-xs-1 col-md-3 listHide">
          <div class="progress" style=" background-color:white; border:1px solid #0099D8;">
            <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="background-color:#0099D8; width:10%; ">
              <!-- <span class="">70% </span> -->
            </div>
          </div></div>        <div class="col-sm-1">%</div>
        <div class="col-xs-1  col-sm-1">&nbsp;</div>
    </div>

    <div class="row" >
      <div class="col-xs-2 col-sm-2 col-md-1 bgLtBLue">1</div>
    <div class="col-xs-2 col-sm-2 col-md-1"><img src="/assets/img/homepage/nav_generic_thumb.svg"></div>
      <div class="col-xs-3 col-sm-3 col-md-2">AE Name</div>
      <div class="col-xs-3 col-sm-3 col-md-2 col-lg-1 ">Manager</div>
      <div class="col-xs-1 col-md-2 col-lg-1 listHide2">Division</div>
      <div class="col-xs-1 col-md-2 col-lg-1 listHide2">Region</div>
      <div class="col-xs-1 col-md-3 listHide">
          <div class="progress" style=" background-color:white; border:1px solid #0099D8;">
            <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="background-color:#0099D8; width:10%; ">
              <!-- <span class="">70% </span> -->
            </div>
          </div></div>        <div class="col-sm-1">%</div>
          <div class="col-xs-1  col-sm-1"></div>
    </div>

    <div class="row" >
    <div class="col-xs-2 col-sm-2 col-md-1 bgDkBlue">2</div>
      <div class="col-xs-2 col-sm-2 col-md-1"><img src="/assets/img/homepage/nav_generic_thumb.svg"></div>
      <div class="col-xs-3 col-sm-3 col-md-2">AE Name</div>
      <div class="col-xs-3 col-sm-3 col-md-2 col-lg-1 ">Manager</div>
      <div class="col-xs-1 col-md-2 col-lg-1 listHide2">Division</div>
      <div class="col-xs-1 col-md-2 col-lg-1 listHide2">Region</div>
        <div class="col-xs-1 col-md-3 listHide">
          <div class="progress" style=" background-color:white; border:1px solid #0099D8;">
            <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="background-color:#0099D8; width:10%; ">
              <!-- <span class="">70% </span> -->
            </div>
          </div></div>        <div class="col-sm-1">%</div>
        <div class="col-xs-1  col-sm-1">&nbsp;</div>
    </div>

    <div class="row" >
      <div class="col-xs-2 col-sm-2 col-md-1 bgLtBLue">1</div>
    <div class="col-xs-2 col-sm-2 col-md-1"><img src="/assets/img/homepage/nav_generic_thumb.svg"></div>
      <div class="col-xs-3 col-sm-3 col-md-2">AE Name</div>
      <div class="col-xs-3 col-sm-3 col-md-2 col-lg-1 ">Manager</div>
      <div class="col-xs-1 col-md-2 col-lg-1 listHide2">Division</div>
      <div class="col-xs-1 col-md-2 col-lg-1 listHide2">Region</div>
      <div class="col-xs-1 col-md-3 listHide">
          <div class="progress" style=" background-color:white; border:1px solid #0099D8;">
            <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="background-color:#0099D8; width:10%; ">
              <!-- <span class="">70% </span> -->
            </div>
          </div></div>        <div class="col-sm-1">%</div>
          <div class="col-xs-1  col-sm-1"></div>
    </div>

    <div class="row" >
    <div class="col-xs-2 col-sm-2 col-md-1 bgDkBlue">2</div>
      <div class="col-xs-2 col-sm-2 col-md-1"><img src="/assets/img/homepage/nav_generic_thumb.svg"></div>
      <div class="col-xs-3 col-sm-3 col-md-2">AE Name</div>
      <div class="col-xs-3 col-sm-3 col-md-2 col-lg-1 ">Manager</div>
      <div class="col-xs-1 col-md-2 col-lg-1 listHide2">Division</div>
      <div class="col-xs-1 col-md-2 col-lg-1 listHide2">Region</div>
        <div class="col-xs-1 col-md-3 listHide">
          <div class="progress" style=" background-color:white; border:1px solid #0099D8;">
            <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="background-color:#0099D8; width:10%; ">
              <!-- <span class="">70% </span> -->
            </div>
          </div></div>        <div class="col-sm-1">%</div>
        <div class="col-xs-1  col-sm-1">&nbsp;</div>
    </div>

    <div class="row" >
      <div class="col-xs-2 col-sm-2 col-md-1 bgLtBLue">1</div>
    <div class="col-xs-2 col-sm-2 col-md-1"><img src="/assets/img/homepage/nav_generic_thumb.svg"></div>
      <div class="col-xs-3 col-sm-3 col-md-2">AE Name</div>
      <div class="col-xs-3 col-sm-3 col-md-2 col-lg-1 ">Manager</div>
      <div class="col-xs-1 col-md-2 col-lg-1 listHide2">Division</div>
      <div class="col-xs-1 col-md-2 col-lg-1 listHide2">Region</div>
      <div class="col-xs-1 col-md-3 listHide">
          <div class="progress" style=" background-color:white; border:1px solid #0099D8;">
            <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="background-color:#0099D8; width:10%; ">
              <!-- <span class="">70% </span> -->
            </div>
          </div></div>        <div class="col-sm-1">%</div>
          <div class="col-xs-1  col-sm-1"></div>
    </div>

    <div class="row" >
    <div class="col-xs-2 col-sm-2 col-md-1 bgDkBlue">2</div>
      <div class="col-xs-2 col-sm-2 col-md-1"><img src="/assets/img/homepage/nav_generic_thumb.svg"></div>
      <div class="col-xs-3 col-sm-3 col-md-2">AE Name</div>
      <div class="col-xs-3 col-sm-3 col-md-2 col-lg-1 ">Manager</div>
      <div class="col-xs-1 col-md-2 col-lg-1 listHide2">Division</div>
      <div class="col-xs-1 col-md-2 col-lg-1 listHide2">Region</div>
        <div class="col-xs-1 col-md-3 listHide">
          <div class="progress" style=" background-color:white; border:1px solid #0099D8;">
            <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="background-color:#0099D8; width:10%; ">
              <!-- <span class="">70% </span> -->
            </div>
          </div></div>        <div class="col-sm-1">%</div>
        <div class="col-xs-1  col-sm-1">&nbsp;</div>
    </div>

    <div class="row" >
      <div class="col-xs-2 col-sm-2 col-md-1 bgLtBLue">1</div>
    <div class="col-xs-2 col-sm-2 col-md-1"><img src="/assets/img/homepage/nav_generic_thumb.svg"></div>
      <div class="col-xs-3 col-sm-3 col-md-2">AE Name</div>
      <div class="col-xs-3 col-sm-3 col-md-2 col-lg-1 ">Manager</div>
      <div class="col-xs-1 col-md-2 col-lg-1 listHide2">Division</div>
      <div class="col-xs-1 col-md-2 col-lg-1 listHide2">Region</div>
      <div class="col-xs-1 col-md-3 listHide">
          <div class="progress" style=" background-color:white; border:1px solid #0099D8;">
            <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="background-color:#0099D8; width:10%; ">
              <!-- <span class="">70% </span> -->
            </div>
          </div></div>        <div class="col-sm-1">%</div>
          <div class="col-xs-1  col-sm-1"></div>
    </div>

    <div class="row" >
    <div class="col-xs-2 col-sm-2 col-md-1 bgDkBlue">2</div>
      <div class="col-xs-2 col-sm-2 col-md-1"><img src="/assets/img/homepage/nav_generic_thumb.svg"></div>
      <div class="col-xs-3 col-sm-3 col-md-2">AE Name</div>
      <div class="col-xs-3 col-sm-3 col-md-2 col-lg-1 ">Manager</div>
      <div class="col-xs-1 col-md-2 col-lg-1 listHide2">Division</div>
      <div class="col-xs-1 col-md-2 col-lg-1 listHide2">Region</div>
        <div class="col-xs-1 col-md-3 listHide">
          <div class="progress" style=" background-color:white; border:1px solid #0099D8;">
            <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="background-color:#0099D8; width:10%; ">
              <!-- <span class="">70% </span> -->
            </div>
          </div></div>        <div class="col-sm-1">%</div>
        <div class="col-xs-1  col-sm-1">&nbsp;</div>
    </div>

    <div class="row" >
      <div class="col-xs-2 col-sm-2 col-md-1 bgLtBLue">1</div>
    <div class="col-xs-2 col-sm-2 col-md-1"><img src="/assets/img/homepage/nav_generic_thumb.svg"></div>
      <div class="col-xs-3 col-sm-3 col-md-2">AE Name</div>
      <div class="col-xs-3 col-sm-3 col-md-2 col-lg-1 ">Manager</div>
      <div class="col-xs-1 col-md-2 col-lg-1 listHide2">Division</div>
      <div class="col-xs-1 col-md-2 col-lg-1 listHide2">Region</div>
      <div class="col-xs-1 col-md-3 listHide">
          <div class="progress" style=" background-color:white; border:1px solid #0099D8;">
            <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="background-color:#0099D8; width:10%; ">
              <!-- <span class="">70% </span> -->
            </div>
          </div></div>        <div class="col-sm-1">%</div>
          <div class="col-xs-1  col-sm-1"></div>
    </div>

    <div class="row" >
    <div class="col-xs-2 col-sm-2 col-md-1 bgDkBlue">2</div>
      <div class="col-xs-2 col-sm-2 col-md-1"><img src="/assets/img/homepage/nav_generic_thumb.svg"></div>
      <div class="col-xs-3 col-sm-3 col-md-2">AE Name</div>
      <div class="col-xs-3 col-sm-3 col-md-2 col-lg-1 ">Manager</div>
      <div class="col-xs-1 col-md-2 col-lg-1 listHide2">Division</div>
      <div class="col-xs-1 col-md-2 col-lg-1 listHide2">Region</div>
        <div class="col-xs-1 col-md-3 listHide">
          <div class="progress" style=" background-color:white; border:1px solid #0099D8;">
            <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="background-color:#0099D8; width:10%; ">
              <!-- <span class="">70% </span> -->
            </div>
          </div></div>        <div class="col-sm-1">%</div>
        <div class="col-xs-1  col-sm-1">&nbsp;</div>
    </div>


    <!--   ================================   -->
    <!--  END OF DATA   -->
    <!--   ================================   -->

</div>


<div class="spacer10" style="margin-top:20px;">&nbsp;</div>
</section>

<section id="homepageCornerLogo">
  <img src="/assets/img/Spectrum_Reach_Rev_RGB.svg">
</section>

<section id="stickyFooter">
<div class="copyright"><p>Copyright 2018 • Spectrum Reach • All Rights Reserved</p></div>
 <div class="toTop"><span class="" {{action "scrollToTop"}}><span style="color:#fff;">Return to Top</span> <img src="/assets/img/leaderboard/return_top.svg" /></span></div>

</section>

</div>
<!--  END WRAPPER  -->
</div>
