<div id="wrapper" class="homepageWrapper">
  <div id="contentHome" class="" >
    <section id="header">
      <div class="userNameTop">Welcome, {{ currentUser.pid.firstname }}  <img style="border-radius: 50%;" src="{{currentUser.pid.fullProfilePicUrl}}" width="25"></div>
          {{#link-to 'firstlook.homepage'}}<img class="l_FirstLook" src="/assets/img/L_FirstLook.png" >{{/link-to}}
    </section>


    <section id="comapnyGoal" class="" style="">
      <div  class="container "  >
      <div class="row col-xs-12" style="text-align:right; display:block;">
         <div style="text-align:right; margin-top:-50px; " class="dkBlue"><p><span style="color: white;">Last Update:</span> Thur Jan 4, 8:59am est</p></div>
      </div>
    </div>

    <div  class="container "  style="margin-top:50px;"  >
    <div class="row" >
      <div class="col-xs-12 col-sm-4 bowen" >
      <div >
        <img src="/assets/img/homepage/dt_bowenkeith.png" style="" align="left">
        <p style=" color:white; padding-top:70px;">Keith Bowen </p>
        <p style="color:white;">SVP, Chief Revenue&nbsp;Officer</p>
      </div>
    </div>
    	<div class="col-xs-12 col-sm-8" >
    	 	 <div style="float:left;"> <h2 style="color:#003057;">COMPANY-WIDE GOAL</h2></div>   <div style="float:right; color:#fff;"><h2 style="color:#fff;">50% </h2></div>
          <div class="progress" style="clear:both; background-color:white; border:1px solid #003057;">
            <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style=" width:50%; ">
              <!-- <span class="">70% </span> -->
            </div>
          </div>
          <div style="float:left; margin-top:10px"><h2 style="color:#fff;">2018 GOAL</h2></div>   <div style="float:right;margin-top:10px"><h2 style="color:#003057;">$255,000,000/$510,000,000 </h2></div>
    	 </div>


    </div>
    </div>
    </section>


    <section id="personalNumbers" class="graygradient" style="">
      <div  class="container "  >
    <div class="row" >
    	     <div class="col-md-12 col-lg-6" >
             <div class=" "  style="text-align:left; ">
               <div class="image2nd " >
                 {{#each model.mine as |ae15m|}}
                 <div class="rank ">#{{ae15m.rank}}</div><img style="border-radius: 50%;" src="{{currentUser.pid.fullProfilePicUrl}}" width="120">
                 {{/each}}
               </div>

             <div style=" ">
               <h2 style="font-size: 25px;">{{ currentUser.pid.firstname}} {{ currentUser.pid.lastname}}</h2><h2 style="font-size: 25px;" class="ltBlue">{{ currentUser.pid.pid}}</h2>
               <div style="font-size:14px; line-height:22px;">
                 <span class="ltBlue">Manager</span> {{ currentUser.pid.managername}}<br> <span class="ltBlue">Division</span> {{ currentUser.pid.division}}<br> <span class="ltBlue">Region</span> {{ currentUser.pid.region}}
               </div>
             </div>

             </div>
           </div >

    	  <div class=" col-md-12 col-lg-6" >
    	 	 <div style="float:left;"><h2 style="color:#003057;">&nbsp;</h2></div>   <div  style="float:right;"><h1 class="dkBlue" style="">{{#each model.mine as |ae15m|}}
        {{ ae15m.fullyear }}%
        {{/each}} </h1></div>
        {{#each model.mine as |ae15m|}}
          <div class="progress" style="clear:both; background-color:white; border:1px solid #0099D8;">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{ ae15m.fullyear }}" aria-valuemin="0" aria-valuemax="100" style=" width:{{ ae15m.fullyear }}%; ">
              <!-- <span class="">70% </span> -->
            </div>
          </div>
          <div class="">
            <p>{{ae15m.region}}</p>
          </div>
          {{/each}}
          <!-- <div style="float:left; margin-top:10px;"><h2>&nbsp;</h2></div>   <div style="float:right; margin-top:10px;"><h2 style="color:#003057;">$433,500/$510,000 </h2></div> -->
    	 </div>


    </div>
    </div>
    </section>

<section id="leadingNumbers" class="graygradient" style="">
  <div  class="container "  >

{{outlet}}


</div>
</section>

<section id="lsmLeaders" class="graygradient" style="">
 <div  class="container "  >

   <div class="row" >
     <div class="col-lg-12" style="text-align: left;"><h1>LEADERBOARD<span class="dkBlue">/LSM</span></h1><p class="footnote" style="padding-left: 5px;">Ranking is based on % to goal</p>
     </div>
   </div>

   <div class="row lsmGroup" >
            <div class="col-xs-12 col-md-6 col-lg-3" >
              <p><img src="/assets/img/homepage/nav_generic_thumb.svg" class="lsmImg"></p>
              <h4> <span class="ltBlue">Region</span></h4>
              <h5>Name</h5>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3" >
              <p><img src="/assets/img/homepage/nav_generic_thumb.svg" class="lsmImg"></p>
              <h4> <span class="ltBlue">Region</span></h4>
              <h5>Name</h5>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3" >
              <p><img src="/assets/img/homepage/nav_generic_thumb.svg" class="lsmImg"></p>
              <h4> <span class="ltBlue">Region</span></h4>
              <h5>Name</h5>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3" >
              <p><img src="/assets/img/homepage/nav_generic_thumb.svg" class="lsmImg"></p>
              <h4> <span class="ltBlue">Region</span></h4>
              <h5>Name</h5>
            </div>
   </div>

   <div class="row lsmGroup" >
            <div class="col-xs-12 col-md-6 col-lg-3" >
              <p><img src="/assets/img/homepage/nav_generic_thumb.svg" class="lsmImg"></p>
              <h4> <span class="ltBlue">Region</span></h4>
              <h5>Name</h5>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3" >
              <p><img src="/assets/img/homepage/nav_generic_thumb.svg" class="lsmImg"></p>
              <h4> <span class="ltBlue">Region</span></h4>
              <h5>Name</h5>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3" >
              <p><img src="/assets/img/homepage/nav_generic_thumb.svg" class="lsmImg"></p>
              <h4> <span class="ltBlue">Region</span></h4>
              <h5>Name</h5>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3" >
              <p><img src="/assets/img/homepage/nav_generic_thumb.svg" class="lsmImg"></p>
              <h4> <span class="ltBlue">Region</span></h4>
              <h5>Name</h5>
            </div>
   </div>

   <div class="row lsmGroup" >
            <div class="col-xs-12 col-md-6 col-lg-3" >
              <p><img src="/assets/img/homepage/nav_generic_thumb.svg" class="lsmImg"></p>
              <h4> <span class="ltBlue">Region</span></h4>
              <h5>Name</h5>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3" >
              <p><img src="/assets/img/homepage/nav_generic_thumb.svg" class="lsmImg"></p>
              <h4> <span class="ltBlue">Region</span></h4>
              <h5>Name</h5>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3" >
              <p><img src="/assets/img/homepage/nav_generic_thumb.svg" class="lsmImg"></p>
              <h4> <span class="ltBlue">Region</span></h4>
              <h5>Name</h5>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3" >
              <p><img src="/assets/img/homepage/nav_generic_thumb.svg" class="lsmImg"></p>
              <h4> <span class="ltBlue">Region</span></h4>
              <h5>Name</h5>
            </div>
   </div>

   <div class="row lsmGroup" >
            <div class="col-xs-12 col-md-6 col-lg-3" >
              <p><img src="/assets/img/homepage/nav_generic_thumb.svg" class="lsmImg"></p>
              <h4> <span class="ltBlue">Region</span></h4>
              <h5>Name</h5>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3" >
              <p><img src="/assets/img/homepage/nav_generic_thumb.svg" class="lsmImg"></p>
              <h4> <span class="ltBlue">Region</span></h4>
              <h5>Name</h5>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3" >
              <p><img src="/assets/img/homepage/nav_generic_thumb.svg" class="lsmImg"></p>
              <h4> <span class="ltBlue">Region</span></h4>
              <h5>Name</h5>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3" >
              <p><img src="/assets/img/homepage/nav_generic_thumb.svg" class="lsmImg"></p>
              <h4> <span class="ltBlue">Region</span></h4>
              <h5>Name</h5>
            </div>
   </div>


</div>
</section>


<section id="standings" class="" style="margin-bottom:-30px;" >

  <div class="container" >
    <div class="row" >
    <div class="col-lg-12 text-left" ><h1>STANDINGS</h1></div>
    </div>

    <!-- Tabs section Temporarily until New Tabs are built-->
     <div class="row" id="Filters"  >
    <div class="col-lg-12 filters " style="    padding-left: 8px;" >

            <div class="filterBtn" {{action "filterCategoryAllaes"}}>
                <h3  class="ltBlue">1.5m+</h3></div>
            <div class="filterBtn" {{action "filterCategoryAE1m"}}>
                <h3 class="ltBlue">1.0m-1.49m</h3></div>
            <div class="filterBtn" {{action "filterCategoryAE700k"}} >
                <h3  class="ltBlue">700k-999k</h3></div>
            <div class="filterBtn" {{action "filterCategoryAE450k"}}>
                <h3  class="ltBlue">450k-699k</h3></div>
            <div class="filterBtn" {{action "filterCategoryAE499k"}}>
                <h3  class="ltBlue">449k-under</h3></div>

      </div>


    </div>

  </div>

</section>

<section id="AElist" class="" style="">

<!--   ================================   -->
<!--  KEEP THIS AS HEADER  -->
<!--   ================================   -->

<!-- <div class="dataheader" style=" color:white;">
  <div class="container-fluid" >
    <div class="row listHide3" >

      <div class="col-xxs-2 col-sm-2 col-md-1">#</div>
      <div class="col-xxs-2 col-sm-2 col-md-1">&nbsp;</div>
        <div class="col-xxs-3 col-sm-3 col-md-2">AE Name</div>
        <div class="col-xxs-3 col-sm-3 col-md-2 col-lg-1 ">Manager</div>
        <div class="col-xxs-1 col-md-2 col-lg-1 listHide2">Division</div>
        <div class="col-xxs-1 col-md-2 col-lg-1 listHide2">Region</div>
        <div class="col-xxs-1 col-md-3 listHide ">Progress</div>
        <div class="col-xxs-1 col-sm-1">%</div>
        <div class="col-xxs-1  col-sm-1"><span class="" style="z-index:10000;" {{action "resetList"}}>Top <img src="/assets/img/leaderboard/return_top.svg" /></span></div>
    </div>
</div>
</div> -->

  <div id="datatable" class="container-fluid datatable" >

    <!--   ================================   -->
    <!--  REPLACE EACH 2 SET OF ROWS BELOW WITH DATA   -->
    <!--   ================================   -->
     <!-- <div class="row" > -->

    <!-- {{full-standings model=model}} -->
    <!-- {{test-component}} -->
  <!-- </div> -->

  <!--   ================================   -->
  <!--  Keep this row for when we need to create mobile view   -->
  <!--   ================================   -->
   <div class="row hide"  id="ae15m" >

      {{#each model.all as |ae15m|}}
      <div class="col-xs-2 col-sm-2 col-md-1 bgLtBLue">{{round (div ae15m.id 10)}}</div>
    <div class="col-xs-2 col-sm-2 col-md-1"><img src="/assets/img/homepage/nav_generic_thumb.svg"></div>
      <div class="col-xs-3 col-sm-3 col-md-2">{{ ae15m.name }}</div>
      <div class="col-xs-3 col-sm-3 col-md-2 col-lg-1 ">Manager</div>
      <div class="col-xs-1 col-md-2 col-lg-1 listHide2">{{ ae15m.division }}</div>
      <div class="col-xs-1 col-md-2 col-lg-1 listHide2">Region</div>
      <div class="col-xs-1 col-md-3 listHide">
          <div class="progress" style=" background-color:white; border:1px solid #0099D8;">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{ae15m.fullyear}}" aria-valuemin="0" aria-valuemax="100" style="background-color:#0099D8; width:{{ae15m.fullyear}}%; ">
              <!-- <span class="">70% </span> -->
            </div>
          </div></div>        <div class="col-sm-1">{{ae15m.fullyear}}%</div>
          <div class="col-xs-1  col-sm-1"></div>
        {{/each}}

    </div>
    <!--   ================================   -->
                    <!--  end   -->
    <!--   ================================   -->


    <!--   ================================   -->
    <!--  1m table  -->
    <!--   ================================   -->
    <div class="row hide" id="ae1m" >
      <div class="col-lg-12">
        {{models-table
          data=model.ae1m
          columns=columns
          showGlobalFilter=false
          showComponentFooter=false
          filteringIgnoreCase=true
          columnComponents=(hash progressBar=(component "progress-bar") percentSymbol=(component "percent-symbol") rankNumber=(component "rank-number") profileImg=(component "profile-img"))
          pageSize=755}}
        </div>
    </div>
    <!--   ================================   -->
    <!--  700K table  -->
    <!--   ================================   -->
    <div class="row hide" id="ae700k" >
      <div class="col-lg-12">
        {{models-table
          data=model.ae700k
          columns=columns
          showGlobalFilter=false
          showComponentFooter=false
          filteringIgnoreCase=true
          columnComponents=(hash progressBar=(component "progress-bar") percentSymbol=(component "percent-symbol") rankNumber=(component "rank-number") profileImg=(component "profile-img"))
          pageSize=755}}
        </div>
    </div>
    <!--   ================================   -->
    <!--  450K table  -->
    <!--   ================================   -->

    <div class="row hide" id="ae450k" >
      <div class="col-lg-12">
        {{models-table
          data=model.ae450k
          columns=columns
          showGlobalFilter=false
          showComponentFooter=false
          filteringIgnoreCase=true
          columnComponents=(hash progressBar=(component "progress-bar") percentSymbol=(component "percent-symbol") rankNumber=(component "rank-number") profileImg=(component "profile-img"))
          pageSize=755}}
        </div>
    </div>

    <!--   ================================   -->
    <!--  449K table  -->
    <!--   ================================   -->
    <div class="row hide" id="ae499k" >
      <div class="col-lg-12">
        {{models-table
          data=model.ae499k
          columns=columns
          showGlobalFilter=false
          showComponentFooter=false
          filteringIgnoreCase=true
          columnComponents=(hash progressBar=(component "progress-bar") percentSymbol=(component "percent-symbol") rankNumber=(component "rank-number") profileImg=(component "profile-img"))
          pageSize=755}}
        </div>
    </div>

    <!--   ================================   -->
    <!--  1.5m+ table  -->
    <!--   ================================   -->
    <div class="row" id="allae" >
      <div class="col-lg-12">
        {{models-table
          data=model.allae
          columns=columns
          showGlobalFilter=false
          showComponentFooter=false
          filteringIgnoreCase=true
          columnComponents=(hash progressBar=(component "progress-bar") percentSymbol=(component "percent-symbol") rankNumber=(component "rank-number") profileImg=(component "profile-img"))
          pageSize=755}}
        </div>
    </div>

    <!--   ================================   -->
    <!--  Models Table example   -->
    <!--   ================================   -->
    <div class="row hide" id="northeast" >
      <div class="col-lg-12">
        {{models-table
          data=model.allae
          columns=columns
          showGlobalFilter=false
          showComponentFooter=false
          filteringIgnoreCase=true
          columnComponents=(hash progressBar=(component "progress-bar") percentSymbol=(component "percent-symbol") rankNumber=(component "rank-number") profileImg=(component "profile-img"))
          pageSize=755}}
        </div>
    </div>


  <!-- <div class="row" >
    <div class="col-xs-2 col-sm-2 col-md-1 bgDkBlue">2</div>
      <div class="col-xs-2 col-sm-2 col-md-1"><img src="/assets/img/homepage/nav_generic_thumb.svg"></div>
      <div class="col-xs-3 col-sm-3 col-md-2">AE Name</div>
      <div class="col-xs-3 col-sm-3 col-md-2 col-lg-1 ">Manager</div>
      <div class="col-xs-1 col-md-2 col-lg-1 listHide2">Division</div>
      <div class="col-xs-1 col-md-2 col-lg-1 listHide2">Region</div>
        <div class="col-xs-1 col-md-3 listHide">
          <div class="progress" style=" background-color:white; border:1px solid #0099D8;">
            <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="background-color:#0099D8; width:10%; "> -->
              <!-- <span class="">70% </span> -->
            <!-- </div>
          </div></div>        <div class="col-sm-1">%</div>
        <div class="col-xs-1  col-sm-1">&nbsp;</div>
    </div> -->

    <!-- <div class="row" >
      <div class="col-xs-2 col-sm-2 col-md-1 bgLtBLue">1</div>
    <div class="col-xs-2 col-sm-2 col-md-1"><img src="/assets/img/homepage/nav_generic_thumb.svg"></div>
      <div class="col-xs-3 col-sm-3 col-md-2">AE Name</div>
      <div class="col-xs-3 col-sm-3 col-md-2 col-lg-1 ">Manager</div>
      <div class="col-xs-1 col-md-2 col-lg-1 listHide2">Division</div>
      <div class="col-xs-1 col-md-2 col-lg-1 listHide2">Region</div>
      <div class="col-xs-1 col-md-3 listHide">
          <div class="progress" style=" background-color:white; border:1px solid #0099D8;">
            <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="background-color:#0099D8; width:10%; "> -->
              <!-- <span class="">70% </span> -->
            <!-- </div>
          </div></div>        <div class="col-sm-1">%</div>
          <div class="col-xs-1  col-sm-1"></div>
    </div> -->

    <!-- <div class="row" >
    <div class="col-xs-2 col-sm-2 col-md-1 bgDkBlue">2</div>
      <div class="col-xs-2 col-sm-2 col-md-1"><img src="/assets/img/homepage/nav_generic_thumb.svg"></div>
      <div class="col-xs-3 col-sm-3 col-md-2">AE Name</div>
      <div class="col-xs-3 col-sm-3 col-md-2 col-lg-1 ">Manager</div>
      <div class="col-xs-1 col-md-2 col-lg-1 listHide2">Division</div>
      <div class="col-xs-1 col-md-2 col-lg-1 listHide2">Region</div>
        <div class="col-xs-1 col-md-3 listHide">
          <div class="progress" style=" background-color:white; border:1px solid #0099D8;">
            <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="background-color:#0099D8; width:10%; "> -->
              <!-- <span class="">70% </span> -->
            <!-- </div>
          </div></div>        <div class="col-sm-1">%</div>
        <div class="col-xs-1  col-sm-1">&nbsp;</div>
    </div> -->

    <!-- <div class="row" >
      <div class="col-xs-2 col-sm-2 col-md-1 bgLtBLue">1</div>
    <div class="col-xs-2 col-sm-2 col-md-1"><img src="/assets/img/homepage/nav_generic_thumb.svg"></div>
      <div class="col-xs-3 col-sm-3 col-md-2">AE Name</div>
      <div class="col-xs-3 col-sm-3 col-md-2 col-lg-1 ">Manager</div>
      <div class="col-xs-1 col-md-2 col-lg-1 listHide2">Division</div>
      <div class="col-xs-1 col-md-2 col-lg-1 listHide2">Region</div>
      <div class="col-xs-1 col-md-3 listHide">
          <div class="progress" style=" background-color:white; border:1px solid #0099D8;">
            <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="background-color:#0099D8; width:10%; "> -->
              <!-- <span class="">70% </span> -->
            <!-- </div>
          </div></div>        <div class="col-sm-1">%</div>
          <div class="col-xs-1  col-sm-1"></div>
    </div> -->

    <!-- <div class="row" >
    <div class="col-xs-2 col-sm-2 col-md-1 bgDkBlue">2</div>
      <div class="col-xs-2 col-sm-2 col-md-1"><img src="/assets/img/homepage/nav_generic_thumb.svg"></div>
      <div class="col-xs-3 col-sm-3 col-md-2">AE Name</div>
      <div class="col-xs-3 col-sm-3 col-md-2 col-lg-1 ">Manager</div>
      <div class="col-xs-1 col-md-2 col-lg-1 listHide2">Division</div>
      <div class="col-xs-1 col-md-2 col-lg-1 listHide2">Region</div>
        <div class="col-xs-1 col-md-3 listHide">
          <div class="progress" style=" background-color:white; border:1px solid #0099D8;">
            <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="background-color:#0099D8; width:10%; "> -->
              <!-- <span class="">70% </span> -->
            <!-- </div>
          </div></div>        <div class="col-sm-1">%</div>
        <div class="col-xs-1  col-sm-1">&nbsp;</div>
    </div> -->

    <!-- <div class="row" >
      <div class="col-xs-2 col-sm-2 col-md-1 bgLtBLue">1</div>
    <div class="col-xs-2 col-sm-2 col-md-1"><img src="/assets/img/homepage/nav_generic_thumb.svg"></div>
      <div class="col-xs-3 col-sm-3 col-md-2">AE Name</div>
      <div class="col-xs-3 col-sm-3 col-md-2 col-lg-1 ">Manager</div>
      <div class="col-xs-1 col-md-2 col-lg-1 listHide2">Division</div>
      <div class="col-xs-1 col-md-2 col-lg-1 listHide2">Region</div>
      <div class="col-xs-1 col-md-3 listHide">
          <div class="progress" style=" background-color:white; border:1px solid #0099D8;">
            <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="background-color:#0099D8; width:10%; "> -->
              <!-- <span class="">70% </span> -->
            <!-- </div>
          </div></div>        <div class="col-sm-1">%</div>
          <div class="col-xs-1  col-sm-1"></div>
    </div> -->

    <!-- <div class="row" >
    <div class="col-xs-2 col-sm-2 col-md-1 bgDkBlue">2</div>
      <div class="col-xs-2 col-sm-2 col-md-1"><img src="/assets/img/homepage/nav_generic_thumb.svg"></div>
      <div class="col-xs-3 col-sm-3 col-md-2">AE Name</div>
      <div class="col-xs-3 col-sm-3 col-md-2 col-lg-1 ">Manager</div>
      <div class="col-xs-1 col-md-2 col-lg-1 listHide2">Division</div>
      <div class="col-xs-1 col-md-2 col-lg-1 listHide2">Region</div>
        <div class="col-xs-1 col-md-3 listHide">
          <div class="progress" style=" background-color:white; border:1px solid #0099D8;">
            <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="background-color:#0099D8; width:10%; "> -->
              <!-- <span class="">70% </span> -->
            <!-- </div>
          </div></div>        <div class="col-sm-1">%</div>
        <div class="col-xs-1  col-sm-1">&nbsp;</div>
    </div> -->

    <!-- <div class="row" >
      <div class="col-xs-2 col-sm-2 col-md-1 bgLtBLue">1</div>
    <div class="col-xs-2 col-sm-2 col-md-1"><img src="/assets/img/homepage/nav_generic_thumb.svg"></div>
      <div class="col-xs-3 col-sm-3 col-md-2">AE Name</div>
      <div class="col-xs-3 col-sm-3 col-md-2 col-lg-1 ">Manager</div>
      <div class="col-xs-1 col-md-2 col-lg-1 listHide2">Division</div>
      <div class="col-xs-1 col-md-2 col-lg-1 listHide2">Region</div>
      <div class="col-xs-1 col-md-3 listHide">
          <div class="progress" style=" background-color:white; border:1px solid #0099D8;">
            <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="background-color:#0099D8; width:10%; "> -->
              <!-- <span class="">70% </span> -->
            <!-- </div>
          </div></div>        <div class="col-sm-1">%</div>
          <div class="col-xs-1  col-sm-1"></div>
    </div> -->

    <!-- <div class="row" >
    <div class="col-xs-2 col-sm-2 col-md-1 bgDkBlue">2</div>
      <div class="col-xs-2 col-sm-2 col-md-1"><img src="/assets/img/homepage/nav_generic_thumb.svg"></div>
      <div class="col-xs-3 col-sm-3 col-md-2">AE Name</div>
      <div class="col-xs-3 col-sm-3 col-md-2 col-lg-1 ">Manager</div>
      <div class="col-xs-1 col-md-2 col-lg-1 listHide2">Division</div>
      <div class="col-xs-1 col-md-2 col-lg-1 listHide2">Region</div>
        <div class="col-xs-1 col-md-3 listHide">
          <div class="progress" style=" background-color:white; border:1px solid #0099D8;">
            <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="background-color:#0099D8; width:10%; "> -->
              <!-- <span class="">70% </span> -->
            <!-- </div>
          </div></div>        <div class="col-sm-1">%</div>
        <div class="col-xs-1  col-sm-1">&nbsp;</div>
    </div> -->

    <!-- <div class="row" >
      <div class="col-xs-2 col-sm-2 col-md-1 bgLtBLue">1</div>
    <div class="col-xs-2 col-sm-2 col-md-1"><img src="/assets/img/homepage/nav_generic_thumb.svg"></div>
      <div class="col-xs-3 col-sm-3 col-md-2">AE Name</div>
      <div class="col-xs-3 col-sm-3 col-md-2 col-lg-1 ">Manager</div>
      <div class="col-xs-1 col-md-2 col-lg-1 listHide2">Division</div>
      <div class="col-xs-1 col-md-2 col-lg-1 listHide2">Region</div>
      <div class="col-xs-1 col-md-3 listHide">
          <div class="progress" style=" background-color:white; border:1px solid #0099D8;">
            <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="background-color:#0099D8; width:10%; "> -->
              <!-- <span class="">70% </span> -->
            <!-- </div>
          </div></div>        <div class="col-sm-1">%</div>
          <div class="col-xs-1  col-sm-1"></div>
    </div> -->

    <!-- <div class="row" >
    <div class="col-xs-2 col-sm-2 col-md-1 bgDkBlue">2</div>
      <div class="col-xs-2 col-sm-2 col-md-1"><img src="/assets/img/homepage/nav_generic_thumb.svg"></div>
      <div class="col-xs-3 col-sm-3 col-md-2">AE Name</div>
      <div class="col-xs-3 col-sm-3 col-md-2 col-lg-1 ">Manager</div>
      <div class="col-xs-1 col-md-2 col-lg-1 listHide2">Division</div>
      <div class="col-xs-1 col-md-2 col-lg-1 listHide2">Region</div>
        <div class="col-xs-1 col-md-3 listHide">
          <div class="progress" style=" background-color:white; border:1px solid #0099D8;">
            <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="background-color:#0099D8; width:10%; "> -->
              <!-- <span class="">70% </span> -->
            <!-- </div>
          </div></div>        <div class="col-sm-1">%</div>
        <div class="col-xs-1  col-sm-1">&nbsp;</div>
    </div>  -->


    <!--   ================================   -->
    <!--  END OF DATA   -->
    <!--   ================================   -->

</div>


<div class="spacer10" style="margin-top:20px;">&nbsp;</div>
</section>

<section id="homepageCornerLogo">
  <img src="/assets/img/Spectrum_Reach_Rev_RGB.svg">
</section>

<section id="stickyFooter">
<div class="copyright"><p>Copyright 2018 • Spectrum Reach • All Rights Reserved</p></div>
 <div class="toTop"><span class="" {{action "scrollToTop"}}><span style="color:#fff;">Return to Top</span> <img src="/assets/img/leaderboard/return_top.svg" /></span></div>

</section>

</div>
<!--  END WRAPPER  -->
</div>
