
{{#side-menu-toggle id="menuToggle"}}
      <span class="fa fa-bars fa-2x" style="padding-top:1.2rem;"></span>
{{/side-menu-toggle}}

{{#side-menu width="220px" side="right" id="menuRight"}}
  <!-- <header class="navbar navbar-default">
    <div class="navbar-header">
    ...
    </div>
  </header> -->

  <ul class="nav">
    <li>
      {{#side-menu-link-to "firstlook.homepage"}}
        <img src="../assets/img/homepage/overview.svg" /> <span>OVERVIEW</span>
      {{/side-menu-link-to}}
    </li>
    <li>
      {{#side-menu-link-to "firstlook.homepage"}}
        <img src="../assets/img/homepage/standings.svg" /> <span>STANDINGS</span>
      {{/side-menu-link-to}}
    </li>
    <li>
      {{#side-menu-link-to "firstlook.homepage"}}
        <img src="../assets/img/homepage/rules.svg" /> <span>RULES</span>
      {{/side-menu-link-to}}
    </li>

    <li>
      {{#side-menu-link-to "firstlook.homepage"}}
        <img src="../assets/img/homepage/faq.svg" /> <span>FAQ</span>
      {{/side-menu-link-to}}
    </li>

    <li class="border-top">
      {{#side-menu-link-to "firstlook.homepage"}}
        <img src="../assets/img/generic_thumbnail.svg" /> <span>ACCOUNT</span>
      {{/side-menu-link-to}}
    </li>

  </ul>
{{/side-menu}}
{{content-backdrop}}
<div class="page-content">
  <!-- {{partial "shared/navbar"}} -->

  <!-- <main>
    <!-- <div class="container">
      {{outlet}}
    </div> -->
  <!-- </main> -->

  <!-- {{outlet "footer"}}  -->
</div>
{{outlet}}
