
{{#side-menu-toggle}}
      <span class="fa fa-bars"></span>
{{/side-menu-toggle}}

{{#side-menu width="20%" side="right"}}
  <header class="navbar navbar-default">
    <div class="navbar-header">
    ...
    </div>
  </header>
  <ul class="nav">
    <li class="header">Events</li>
    <li>
      {{#side-menu-link-to "firstlook.homepage"}}
        <!-- {{inline-svg "plus" class="icon"}} -->
        New Event
      {{/side-menu-link-to}}
    </li>
    <li class="divider"></li>
    ...
    <li>
      <a href="https://cowbell-labs.com/" target="_blank">
        <!-- {{inline-svg "cowbell" class="icon cowbell"}} -->
        Cowbell Labs
      </a>
    </li>
  </ul>
{{/side-menu}}
{{content-backdrop}}
<div class="page-content">
  <!-- {{partial "shared/navbar"}} -->

  <!-- <main>
    <!-- <div class="container">
      {{outlet}}
    </div> -->
  <!-- </main> -->

  <!-- {{outlet "footer"}}  -->
</div>
{{outlet}}
