
<h2 style="color: white;" >Profile Summary</h2><br />
<h3 style="color: white; text-align: center; margin: auto; float: none;">EDIT PROFILE</h3>
<div class="detail">
  <div class="detail-card">
    <!-- <div class="detail-card__title">Edit Details</div> -->
    {{#simple-form class="card__form" startingValues=model onsubmit=(action "updateForm") as | formValues |}}
      {{input class="form__input" type="text" required=true id="firstname"
      value=formValues.firstname placeholder="First Name"}}<br />

      {{input class="form__input" type="text" required=true id="lastname"
      value=formValues.lastname placeholder="Last Name"}}<br />

      {{input class="form__input" type="text" required=true id="jobtitle"
      value=formValues.jobtitle placeholder="Job Title"}}<br />

      {{input class="form__input" type="text" required=true id="managername"
      value=formValues.managername placeholder="Manager Name"}}<br />
      
      {{input class="form__input" type="text" required=true id="region"
      value=formValues.region placeholder="Region"}}<br />

      {{input class="form__input" type="text" required=true id="division"
      value=formValues.division placeholder="Division"}}<br />

        <button type="submit" class="btn" style="background: #002039;">Save</button><br />
        {{#link-to "profile.details" currentUser.pid.id class="btn darkbutton"}}Back{{/link-to}}
    {{/simple-form}}
  </div>
</div>
