<div id="wrapper">
  <div id="contentReg" >
    <section id="header">
          <img class="l_FirstLook" src="../assets/img/L_FirstLook.png">
    </section>

<section id="title">
  <h3>Upload Profile Image</h3>
  {{#link-to 'firstlook.register-conf' (query-params cat="right") }}<p class="comment">Skip for Now <img style="height:14px;" src="../assets/img/Nav_Right.svg"></p>{{/link-to}}
</section >

 <!-- <section id="S3 upload" style="">
  <div id="image-upload-wrapper">
<label for="new-post" class="uploadBtn"></label><br>
  {{s3-upload id="new-post" class="inputfile"}}
  </div>
</section> -->


<!-- {{file-picker}} -->
{{#each selectedFiles as |file|}}
  <p>{{file.name}}</p>
{{/each}}

{{log selectedFiles}}

{{file-picker action=(action (mut selectedFiles))}} 





























<section id="ImageUp" style="">
<!--
  <div id="image-upload-wrapper">
  <form class="" action="index.html" method="post" enctype="multipart/form-data">
      <label for="new-post"><div class="form-image-wrapper">
        {{s3-upload id="new-post"}} <!-- see https://www.youtube.com/watch?v=5MxJl4ZA0Us&t=322s for support; uses cli-uploader  -->
  <!--      <div id="uploadBox" ><img  style="width:80%; padding-top:12%;" src="../assets/img/image_upload.svg">
        <p><strong>Choose file</strong><br><span class="comment">Size limit: 10MB</span></p></div>
        <p class="comment">• Please upload either a .JPG or .PNG only  </p>
      </div></label>
    </form>
-->
<!--     {{ file-upload }}  -->

<!--   </div> -->
   <!-- {{img-up-03}}
    {{img-up-02}}
    {{img-up-01}} -->

</section>

<section id="nav-wrapper">
  <div id="nav">
    {{#link-to 'firstlook.register-info' (query-params cat="left")  }}
    <img class="navLeft" src="../assets/img/Nav_Left.svg" >{{/link-to}}{{#link-to 'firstlook.register-conf' (query-params cat="right") }}<img class="navRight" src="../assets/img/Nav_Right.svg">
    {{/link-to}}
</div>
<div id="line" class="" >

      <svg id="cir3" class="three" height="30" width="30" >
        <circle cx="15" cy="15" r="15" stroke="#0099D8" stroke-width="1" fill="white" />
        <text x="50%" y="50%" alignment-baseline="middle" text-anchor="middle">3</text>

      </svg>
 </div >
</section>

<section id="bottomLogo">
  <img src="../assets/img/Spectrum_Reach_Rev_RGB.svg">
</section>

</div>
</div>
