<div id="wrapper">
  <div id="contentReg" >
    <section id="header">
          <img class="l_FirstLook" src="../assets/img/L_FirstLook.png">
    </section>

<section id="title">
  <h3>Provide Professional Information</h3>
</section >

  <!-- <section id="formHolder" style="">
  <form action="" autocomplete="on" >
    <input type="text" placeholder="Job TItle" name="Job Title" /><br>
    <input type="text" placeholder="Manager Name" name="Manager Name" /><br>
    <label for="Region" >Region</label><br />
    <select name="Region" id="Region">
      <option value="Central">Central</option>
      <option value="Northeast">Northeast</option>
      <option value="Southeast">Southeast</option>
      <option value="West">West</option>
    </select>
    <br>
    <label for="Division" >Division</label><br />
    <select name="Division" id="Division">
      <option value="Carolinas">Carolinas</option>
      <option value="Florida">Florida</option>
      <option value="LA">LA</option>
      <option value="MidNorth">MidNorth</option>
      <option value="Midwest">Midwest</option>
      <option value="Mountain States">Mountain States</option>
      <option value="New York">New York</option>
      <option value="Ohio">Ohio</option>
      <option value="Pacific States">Pacific States</option>
      <option value="Southeast">Southeast</option>
      <option value="Texas">Texas</option>
      <option value="Upstate NY - ME">Upstate NY & ME</option>
    </select>
<br>
<input type="text" placeholder="City" name="City" /><br>
  </form>
</section> -->
  <section id="formHolder" style="">
    <form onsubmit={{action "save"}}>
      {{input value=wizard.userInfo.jobtitle placeholder="Job Title"}}<br>
      {{input value=wizard.userInfo.managername placeholder="Manager Name"}}<br>
      {{input value=wizard.userInfo.region placeholder="Region"}}<br>
      {{input value=wizard.userInfo.division placeholder="Division"}}<br>
      {{input value=wizard.userInfo.city placeholder="City"}}<br>
      <!-- <button class="SR_btn">Next</button> -->
    </form>
</section>


<section id="nav-wrapper">
  <div id="nav">
    {{#link-to 'firstlook.register-name' class="button" }}
      <img class="navLeft" src="../assets/img/Nav_Left.svg" >{{/link-to}}{{#link-to 'firstlook.register-img' class="button" }}<img class="navRight" src="../assets/img/Nav_Right.svg">
    {{/link-to}}
</div>
<div id="line" class="" >

      <svg class="two" height="30" width="30" >
        <circle cx="15" cy="15" r="15" stroke="#0099D8" stroke-width="1" fill="white" />
        <text x="50%" y="50%" alignment-baseline="middle" text-anchor="middle">2</text>

      </svg>
 </div >
</section>

<section id="bottomLogo">
  <img src="../assets/img/Spectrum_Reach_Rev_RGB.svg">
</section>

</div>
</div>
