

<div id="wrapper-rnh" >
  <!-- <div id="contentHome" class="" > -->
    <section id="header-rnh"  >
      <div  class="container "  >
          <div class="row" >


      <div class="col-lg-12">
        {{#link-to 'reachnewheights.dashboard' replace="true"}}{{/link-to}}
        <img class="logo_rnh " src="/assets/img/rnh/NewBizLogo-Revised-02.svg" >
     </div>
     <!-- <div class="userNameTop">Welcome, {{ currentUser.pid.firstname}}
       <img style="border-radius: 50%;" src="{{currentUser.pid.fullProfilePicUrl}}" width="25">
     </div> -->

<!--  //////////////////////////////////////// -->
 <!--  /////////////  SHOW FOR MANAGERS ONLY  /////////////   -->
 <!--  //////////////////////////////////////// -->

     {{#if currentUser.pid.jobtitle }}
     <div  class="companyGoal col-lg-12 " >
      <div class=" progressBox"  >
        <div class="colGoalTitle" style="float:left;"> <h1 style="color:#fff;">COLLECTIVE GOAL</h1></div>   <div style="float:right; color:#fff;"><h1 style="color:#fff;">92% </h1></div>
          <div class="progress" style="clear:both; background-color:white; border:1px solid #003057;">
            <div class="progress-bar Northeast-bar" role="progressbar" aria-valuenow="23" aria-valuemin="0" aria-valuemax="100" style=" width:23%; "></div>
            <div class="progress-bar South-bar" role="progressbar" aria-valuenow="23" aria-valuemin="0" aria-valuemax="100" style=" width:23%; "></div>
            <div class="progress-bar Central-bar" role="progressbar" aria-valuenow="24" aria-valuemin="0" aria-valuemax="100" style=" width:24%; "></div>
            <div class="progress-bar West-bar" role="progressbar" aria-valuenow="23" aria-valuemin="0" aria-valuemax="100" style=" width:23%; "></div>
          </div>

          <div class="progress" style="clear:both; background-color:transparent; border:0px; height: 32px;">
            <div class="border-right-line" role="progressbar" aria-valuenow="23" aria-valuemin="0" aria-valuemax="100" style=" width:23%; height: 9px;">
              <div class="northeast-bar-label" style=" "><p>Northeast 23%</p></div>
            </div>
            <div class="border-right-line" role="progressbar" aria-valuenow="23" aria-valuemin="0" aria-valuemax="100" style=" width:23%; height: 9px;">
              <div class="south-bar-label" style=" "><p>South 23%</p></div>
            </div>
            <div class="border-right-line" role="progressbar" aria-valuenow="24" aria-valuemin="0" aria-valuemax="100" style=" width:24%; height: 9px;">
              <div class="central-bar-label" style=" "><p>Central 23%</p></div>
            </div>
            <div class="border-right-line" role="progressbar" aria-valuenow="23" aria-valuemin="0" aria-valuemax="100" style=" width:23%; height: 9px;">
              <div class="west-bar-label" style=""><p>West 23%</p></div>
            </div>
          </div>

      </div>
     </div>
  {{/if}}


</div>
</div>
    </section>

<!--  //////////////////////////////////////// -->
<!--  ///////////  AE DASHBOARD   ///////////  -->
<!--  //////////////////////////////////////   -->
<div class="divider-rnh"></div>

{{#if currentUser.pid.isAe }}

  <section id="AE-dash" class="dashboard" style="">
    <div  class="container "  >
        <div class="row" >

         <div class="col-md-12 col-lg-6" >
           <div class=" "  style="text-align:left; ">
             <div class=" " >
              <h1>DASHBOARD</h1>
              <p class="footnote-dash">Personal Data Viewport</p>
             </div>
           </div>
         </div >
      <div class="col-md-12 col-lg-6 imageMine" >
          <div class="userPic" >
            <a href="https://spectrumreach.typeform.com/to/zdQZSe" target="_blank"><img style="" src="{{currentUser.pid.fullProfilePicUrl}}" ></a>
          </div>

        <div class="userData " style="">
          <div class="title">
            <h2 style="font-weight:600; color: #003057;">Name<br>ID#<br>Manager<br>Location</h2>
          </div>
          <div class="data">
            <h2>{{ currentUser.pid.firstname}} {{ currentUser.pid.lastname}}<br>{{ currentUser.pid.pid}}<br>{{ currentUser.pid.managername}}<br>{{ currentUser.pid.division}} / {{ currentUser.pid.region}}</h2>
          </div>
        </div>

      </div >

      <div class="col-lg-12 "><p style="margin-top:24px;">&nbsp;</p></div>
      <!--  ///////////  TEAM PROGRESS    ///////////  -->
       <div class=" col-md-12 col-lg-6 teamProgress" >
         {{#if model.managername}}
        {{#each model.managername as |personal|}}
       <div  style="float:left;"><p>${{number-format personal.dollars decimals=0}} / ${{number-format personal.goal decimals=0}}</p></div>

       <div  style="float:right;">&nbsp;</div>

       {{#if (gte (mult (div record.dollars record.goal) 100) 100)}}
       <div class="progress" >
         <div class="progress-bar {{ currentUser.pid.division}}-bar" role="progressbar" aria-valuenow="{{mult (div personal.dollars personal.goal) 100}}" aria-valuemin="0" aria-valuemax="100" style=" width:{{mult (div personal.dollars personal.goal) 100}}%; ">
         </div>
       </div>
          {{else}}
          <div class="progress" >
            <div class="progress-bar" role="progressbar" aria-valuenow="{{mult (div personal.dollars personal.goal) 100}}" aria-valuemin="0" aria-valuemax="100" style=" width:{{mult (div personal.dollars personal.goal) 100}}%; ">
            </div>
          </div>
       {{/if}}


         <div style="float:left; margin-top:10px;"><p>Team Progress % to collective goal</p></div>   <div style="float:right; margin-top:10px;"><h3>{{mult (div personal.dollars personal.goal) 100}}%</h3></div>
         {{/each}}
         {{else}}
         <div class="col-md-8 col-md-offset-2" style="float:left;">
            <h4>Your Team Goal is not showing for these reasons:</h4>
            <p>1) Your manager is NOT signed up for this incentive. If so, please reach out to your manager to have them sign up so that you can track your team goal</p>
            <p>2) Double Check your Manager's Name. If your Manager's Name does not match exactly with what we have showing in standings, then our data will NOT sync with their data. You will need to email support.</p>
        </div>
         {{/if}}
      </div>
      <!--  ///////////  PERSONAL PROGRESS    ///////////  -->

     {{#each model.mine as |personal|}}
     <div class=" col-md-12 col-lg-6 personalProgress"  >
     <div style="float:left;"><p>${{number-format personal.dollars decimals=0}} / ${{number-format personal.goal decimals=0}}</p></div>   <div  style="float:right;">&nbsp;</div>
    {{#if (gte (mult (div record.dollars record.goal) 100) 100)}}
    <div class="progress" >
       <div class="progress-bar {{ currentUser.pid.division}}-bar" role="progressbar" aria-valuenow="{{mult (div personal.dollars personal.goal) 100}}" aria-valuemin="0" aria-valuemax="100" style=" width:{{mult (div personal.dollars personal.goal) 100}}%; ">
       </div>
     </div>
     {{else}}
     <div class="progress" >
        <div class="progress-bar" role="progressbar" aria-valuenow="{{mult (div personal.dollars personal.goal) 100}}" aria-valuemin="0" aria-valuemax="100" style=" width:{{mult (div personal.dollars personal.goal) 100}}%; ">
        </div>
      </div>
     {{/if}}
    <div style="float:left; margin-top:10px;"><p>Personal Progress % to collective goal</p></div>   <div style="float:right; margin-top:10px;"><h3>{{mult (div personal.dollars personal.goal) 100}}% </h3></div>
     </div>
     {{/each}}



  </div>
  </div>
  </section>

  <!--  //////////////////////////////////////////////////////// -->
  <!--  ///////////  MANAGERS ROLLUPS DASHBOARD     ///////////  -->
<!--  //////////////////////////////////////////////////////// -->

  {{else}}
    <section id="MGR-dash" class="dashboard" style="">
      <div  class="container "  >
    <div class="row" >


      <div class="col-md-12 col-lg-6" >
        <div class=" "  style="text-align:left; ">
          <div class=" " >
           <h1>DASHBOARD</h1>
           <p class="footnote-dash">Personal Data Viewport</p>
          </div>
        </div>
      </div >




   <div class="col-md-12 col-lg-6 imageMine" >
       <div class="userPic" style="">
         <a href="https://spectrumreach.typeform.com/to/zdQZSe" target="_blank"><img style="" src="{{currentUser.pid.fullProfilePicUrl}}" ></a>
       </div>

     <div class="userData " style="margin-top:20px; ">
       <div class="title">
         <h2 style="font-weight:600; color: #003057;">Name<br>ID#<br>Manager<br>Location</h2>
       </div>
       <div class="data">
         <h2>{{ currentUser.pid.firstname}} {{ currentUser.pid.lastname}}<br>{{ currentUser.pid.pid}}<br>{{ currentUser.pid.managername}}<br>{{ currentUser.pid.division}} / {{ currentUser.pid.region}}</h2>
       </div>
     </div>

   </div >
   <!--  /////////// TEAM PROGRESS   ///////////  -->
   <div class=" col-md-12 col-lg-6 teamProgress" >
     {{#each model.mine as |personal|}}
    <div style="float:left;"><p>${{number-format personal.dollars decimals=0}} / ${{number-format personal.goal decimals=0}}</p></div>
   <div  style="float:right;">&nbsp;</div>
   {{#if (gte (mult (div record.dollars record.goal) 100) 100)}}
    <div class="progress" >
      <div class="progress-bar {{ currentUser.pid.division}}-bar" role="progressbar" aria-valuenow="{{mult (div personal.dollars personal.goal) 100}}" aria-valuemin="0" aria-valuemax="100" style=" width:{{mult (div personal.dollars personal.goal) 100}}%; ">
      </div>
    </div>
    {{else}}
    <div class="progress" >
      <div class="progress-bar" role="progressbar" aria-valuenow="{{mult (div personal.dollars personal.goal) 100}}" aria-valuemin="0" aria-valuemax="100" style=" width:{{mult (div personal.dollars personal.goal) 100}}%; ">
      </div>
    </div>

    {{/if}}
     <div style="float:left; margin-top:10px;"><p>Team Progress % to collective goal</p></div>   <div style="float:right; margin-top:10px;"><h3>{{mult (div personal.dollars personal.goal) 100}}%</h3></div>
     {{/each}}
  </div>

 <div class=" col-md-12 col-lg-6" >
   &nbsp;
 </div>



<!--  ///////////  EMPLOYEE DATA   /////////////   -->

<div class=" col-md-12 col-lg-12" style="text-align:left; padding:40px 0;">
  <h2>INDIVIDUAL DATA BREAKDOWN</h2>
</div>



       {{#each model.aerollup as |rollup| }}
        <div class=" col-md-12 col-lg-3 dashboard indyData" >
         <div style="float:left; margin: 10px 10px 10px 6px;"><img style="" src="{{currentUser.pid.fullProfilePicUrl}}"></div>
         <div  style="float:left; margin: 18px 0 0 6px;"><p  style="">{{ rollup.firstname }} {{ rollup.lastname }}</p></div>
        {{#if (gte (mult (div record.dollars record.goal) 100) 100)}}
         <div class="progress" >
           <div class="progress-bar {{ currentUser.pid.division }}-bar" role="progressbar" aria-valuenow="{{mult (div rollup.dollars rollup.goal) 100}}" aria-valuemin="0" aria-valuemax="100" style=" width:{{mult (div rollup.dollars rollup.goal) 100}}%; ">
           </div>
         </div>
         {{else}}
         <div class="progress" >
           <div class="progress-bar" role="progressbar" aria-valuenow="{{mult (div rollup.dollars rollup.goal) 100}}" aria-valuemin="0" aria-valuemax="100" style=" width:{{mult (div rollup.dollars rollup.goal) 100}}%; ">
           </div>
         </div>
         {{/if}}
          <div style="float:left; margin-top:10px;"><p>Progress % to goal</p></div>   <div style="float:right; margin-top:10px;"><h3 style="color:#003057;" >{{mult (div rollup.dollars rollup.goal) 100}}% </h3></div>

          </div>
       {{/each}}


    </div>
    </div>
    </section>
    {{/if}}
<div class="divider-rnh"></div>



  <!--  //////////////////////////////////////////////////////// -->
  <!--  ///////////  STANDINGS   ///////////  -->
<!--  //////////////////////////////////////////////////////// -->

<section id="standings"  >

  <div class="container" >
    <div class="row "  >
      <div class="col-lg-5">
        <div class="col-sm-9 col-lg-12 text-left" ><h1 style="color:#fff; padding-top: 3rem;">STANDINGS</h1>
        <p class="footnote-dash" style="">Sort Data with Filters below</p>

        <!-- show on mobile size only  -->
            <div class="row" id="FilterDisclaimer"  >
              <p style=" ">Visit our desktop version for more info, searchable data, and filtering capabilities or download the PDF for complete standings.</p>
            </div>

            </div>
        <!-- <div id="pdf"  class="col-lg-12 "> <a href="/assets/img/Firstlook_OTBNetRev_byAE_wk5_020118.pdf" target="_blank" style="color:#0099D8;"><img src="/assets/img/ae_pdf.svg" alt="download pdf"/></a>&nbsp; <a href="/assets/img/Firstlook_OTBNetRev_byLSM-Rollup_wk5_020118.pdf" target="_blank" style="color:#0099D8;"><img src="/assets/img/lsm_pdf.svg" alt="download pdf"/></a></div> -->
    </div>


     <div class="row col-lg-7" id="Filters"  >
      <div class=" filters " style="    padding-left: 8px;" >
            <div style="margin:auto; text-align:center;"><p>Select tab to view each divisional roll-up</p></div>
              <div id="divCentral" class="divisionBtn divisionBtn1 divisionBtn1-Active" {{action "filterCategoryCentral"}}>
                &nbsp;</div>
              <div id="divSouth" class="divisionBtn divisionBtn2" {{action "filterCategorySouth"}}>
                  &nbsp;</div>
              <div id="divWest" class="divisionBtn divisionBtn3" {{action "filterCategoryWest"}} >
                  &nbsp;</div>
              <div id="divNortheast" class="divisionBtn divisionBtn4" {{action "filterCategoryNortheast"}}>
                &nbsp;</div>

        </div>
      <!-- <div class="footnote"><p>Select tabs to view by Category</p></div> -->

    </div>
  </div>

  </div>

</section>


<section id="AElist" class="" style="padding-bottom: 0px;" >

  <div id="datatable" class="container-fluid datatable" style=" ">


    <!--   ================================   -->
    <!--  Central table  -->
    <!--   ================================   -->
    <div class="row" id="aeCentral" style="">
      <div class="col-lg-12" style="padding-left:0; padding-right:0;">
        {{models-table
           data=model.central
           columns=columns
           showGlobalFilter=false
           showComponentFooter=false
           filteringIgnoreCase=true
           columnComponents=(hash rnhprogressBar=(component "rnhprogress-bar") profileImg=(component "profile-img"))
           pageSize=755
         }}
        </div>
    </div>


    <!--   ================================   -->
    <!--  West table  -->
    <!--   ================================   -->
    <div class="row hide" id="aeWest" >
      <div class="col-lg-12" style="padding-left:0; padding-right:0;">
        {{models-table
           data=model.west
           columns=columns
           showGlobalFilter=false
           showComponentFooter=false
           filteringIgnoreCase=true
           columnComponents=(hash rnhprogressBar=(component "rnhprogress-bar") profileImg=(component "profile-img"))
           pageSize=755
         }}
        </div>
    </div>
    <!--   ================================   -->
    <!--  Northeast table  -->
    <!--   ================================   -->

    <div class="row hide" id="aeNortheast" >
      <div class="col-lg-12" style="padding-left:0; padding-right:0;">
        {{models-table
           data=model.northeast
           columns=columns
           showGlobalFilter=false
           showComponentFooter=false
           filteringIgnoreCase=true
           columnComponents=(hash rnhprogressBar=(component "rnhprogress-bar") profileImg=(component "profile-img"))
           pageSize=755
         }}
        </div>
    </div>

    <!--   ================================   -->
    <!--  South table  -->
    <!--   ================================   -->
    <div class="row hide" id="aeSouth" >
      <div class="col-lg-12" style="padding-left:0; padding-right:0;">
        {{models-table
           data=model.south
           columns=columns
           showGlobalFilter=false
           showComponentFooter=false
           filteringIgnoreCase=true
           columnComponents=(hash rnhprogressBar=(component "rnhprogress-bar") profileImg=(component "profile-img"))
           pageSize=755
         }}
        </div>
    </div>



</div>


<!-- <div class="spacer10" style="">&nbsp;&nbsp;</div> -->
</section>
<section id="stickyFooter">
<div class="copyright"><p style="padding:24px;">Copyright 2018 • Spectrum Reach • All Rights Reserved</p></div>
 <div class="toTop"><span class="" {{action "scrollToTop"}}><span style="color:#fff;">Top</span> <img src="/assets/img/leaderboard/return_top.svg" /></span></div>

</section>

</div>
{{outlet}}
