<div id="wrapper">
  <div id="contentReg" >
    <section id="header">
          <img class="l_FirstLook" src="../assets/img/L_FirstLook.png">
    </section>

    <section id="title">
      <h3>Upload Profile Image</h3>
      {{#link-to 'firstlook.register-name' class="button" }}
      <p class="comment">Edit Info <img style="height:14px;" src="../assets/img/Nav_Right.svg"></p>
      {{/link-to}}
    </section>

  <section id="profile" style="">
    <!--  Note:  need a conditional, if image profile picture exists, file path = foo, else display generic thumbnail. - generic_thumbnail.svg  -->
    <p class="profileImg"><img src="../assets/img/profile_thumbnail.png"></p>


 <!-- <div id="profileSummary">
  <p><span class="userItem">Name: </span>{{wizard.userInfo.first}} {{wizard.userInfo.last}}</p>
  <p><span class="userItem">Email: </span>{{wizard.userInfo.email}}</p>
  <p><span class="userItem">Job Title: </span>{{wizard.userInfo.jobtitle}}</p>
  <p><span class="userItem">Manager: </span>{{wizard.userInfo.managername}}</p>
  <p><span class="userItem">Region: </span>{{wizard.userInfo.region}}</p>
  <p><span class="userItem">Division: </span>{{wizard.userInfo.division}}</p>
</div>
<div class="Reg_btn" style="margin-top:40px; ">
      {{#link-to 'firstlook.register-thanks' class="SR_btn" name="button" }}Submit{{/link-to}}
</div> -->

<!-- this form submits, but isn't working with Ember data properly. I'm still working on this -->

   {{#simple-form class="card__form" startingValues=wizard.userInfo onsubmit=(action "saveForm") as | formValues |}}
    <!-- {{log formValues}} -->
    {{input class="form__input" type="text"  value=formValues.pid placeholder="P•XXXXXXX"}}
    {{input class="form__input" type="text"  value=formValues.firstname placeholder="First Name"}}
    {{input class="form__input" type="text"  value=formValues.lastname placeholder="Last Name"}}
    {{input class="form__input" type="text"  value=formValues.email placeholder="Email"}}
    {{input class="form__input" type="password"  value=formValues.password placeholder="Password"}}
    {{input class="form__input" type="text"  value=formValues.managername placeholder="Manager Name"}}
    {{input class="form__input" type="text"  value=formValues.division placeholder="Division"}}
    {{input class="form__input" type="text"  value=formValues.region placeholder="Region"}}
    <div class="button-box">
      <button type="submit" class="SR_btn">Submit</button>
    </div>
  {{/simple-form}}
</section>



<section id="nav-wrapper">
  <div id="nav">
    {{#link-to 'firstlook.register-img' class="button" }}<img class="navLeft" src="../assets/img/Nav_Left.svg" >{{/link-to}}<img class="navRight" src="../assets/img/Nav_Right_End.svg">
</div>
<div id="line" class="" >

      <svg class="four" height="30" width="30" >
        <circle cx="15" cy="15" r="15" stroke="#0099D8" stroke-width="1" fill="white" />
        <text x="50%" y="50%" alignment-baseline="middle" text-anchor="middle">4</text>
      </svg>
 </div >
</section>

<section id="bottomLogo">
  <img src="../assets/img/Spectrum_Reach_Rev_RGB.svg">
</section>

</div>
</div>
