<div id="wrapper">
  <div id="contentReg" >
    <section id="header">
          <img class="l_FirstLook" src="../assets/img/L_FirstLook.png">
    </section>

    <section id="title">
      <h3>Profile Summary</h3><p>You may edit the information below.<br>Click submit to complete your registration.</p>
      <!--
      {{#link-to 'firstlook.register-pid'  }}
      <p class="comment">Edit Info <img style="height:14px;" src="../assets/img/Nav_Right.svg"></p>
      {{/link-to}}
    -->
  </section>

  <section id="profile" style="">
    <!--  Note:  need a conditional, if image profile picture exists, file path = foo, else display generic thumbnail. - generic_thumbnail.svg  -->
  {{#link-to 'firstlook.register-img' (query-params cat="left") }}
    <p class="profileImg"><img src="../assets/img/generic_thumbnail.svg"></p>
      {{/link-to}}


 <!-- <div id="profileSummary">
  <p><span class="userItem">Name: </span>{{wizard.userInfo.first}} {{wizard.userInfo.last}}</p>
  <p><span class="userItem">Email: </span>{{wizard.userInfo.email}}</p>
  <p><span class="userItem">Job Title: </span>{{wizard.userInfo.jobtitle}}</p>
  <p><span class="userItem">Manager: </span>{{wizard.userInfo.managername}}</p>
  <p><span class="userItem">Region: </span>{{wizard.userInfo.region}}</p>
  <p><span class="userItem">Division: </span>{{wizard.userInfo.division}}</p>
</div>
<div class="Reg_btn" style="margin-top:40px; ">
      {{#link-to 'firstlook.register-thanks' class="SR_btn" name="button" }}Submit{{/link-to}}
</div> -->

<!-- this form submits, but isn't working with Ember data properly. I'm still working on this -->

   {{#simple-form id="final-form" class="card__form" startingValues=wizard.userInfo onsubmit=(action "saveForm") as | formValues |}}
    <!-- {{log formValues}} -->
    <span class="userItem">PID/EID:</span>{{input class="form__input" type="text"  value=formValues.pid placeholder="XXXXXXX"}}<br>
    <span class="userItem">First Name:</span>{{input class="form__input" type="text"  value=formValues.firstname placeholder="First Name"}}<br>
    <span class="userItem">Last Name:</span>{{input class="form__input" type="text"  value=formValues.lastname placeholder="Last Name"}}<br>
    <span class="userItem">Email:</span>{{input class="form__input" type="text"  value=formValues.email placeholder="Email"}}<br>
    <span class="userItem">Password</span>{{input class="form__input" type="password"  value=formValues.password placeholder="Password"}}<br>
    <span class="userItem">Manager Name:</span>{{input class="form__input" type="text"  value=formValues.managername placeholder="Manager Name"}}<br>
    <!-- <span class="userItem">Region:</span>{{input class="form__input" type="text"  value=formValues.division placeholder="Division"}}<br> -->
    <!-- <span class="userItem">Division:</span>{{input class="form__input" type="text"  value=formValues.region placeholder="Region"}} -->
    <div class="button-box">
      <button type="submit" class="SR_btn">Submit</button>
    </div>
  {{/simple-form}}
  <!-- <form id="final-form" onsubmit={{action "save"}}>
    <span class="userItem">Name: </span>{{input class="form__input" type="text"  value=wizard.userInfo.pid placeholder="P•XXXXXXX"}}<br>
    {{input class="form__input" type="text"  value=wizard.userInfo.firstname placeholder="First Name"}}<br>
    {{input class="form__input" type="text"  value=wizard.userInfo.lastname placeholder="Last Name"}}<br>
    {{input class="form__input" type="text"  value=wizard.userInfo.email placeholder="Email"}}<br>
    {{input class="form__input" type="password"  value=wizard.userInfo.password placeholder="Password"}}<br>
    {{input value=wizard.userInfo.managername placeholder="Manager Name"}}<br>

   <select onchange={{action "selectRegion" value="target.value"}} id="region" name="region">
      {{#each regions as |regionChoice|}}
        <option value={{regionChoice}} selected={{eq region regionChoice}}>{{regionChoice}}</option>
      {{/each}}
    </select>
<br>
    <select onchange={{action "selectDivision" value="target.value"}} id="division" name="division">
      {{#each divisions as |divisionChoice|}}
        <option value={{divisionChoice}} selected={{eq division divisionChoice}}>{{divisionChoice}}</option>
      {{/each}}
    </select>
    <div class="button-box">
      <button type="submit" class="SR_btn">Submit</button>
    </div>
  </form> -->
</section>



<section id="nav-wrapper">
  <div id="nav">
    {{#link-to 'firstlook.register-img' (query-params cat="left") }}<img class="navLeft" src="../assets/img/Nav_Left.svg" >{{/link-to}}<img class="navRight" src="../assets/img/Nav_Right_End.svg">
</div>
<div id="line" class="" >

      <svg id="cir4" class="four" height="30" width="30" >
        <circle cx="15" cy="15" r="15" stroke="#0099D8" stroke-width="1" fill="white" />
        <text x="50%" y="50%" alignment-baseline="middle" text-anchor="middle">4</text>
      </svg>
 </div >
</section>

<section id="bottomLogo">
  <img src="../assets/img/Spectrum_Reach_Rev_RGB.svg">
</section>

</div>
</div>
