<div id="wrapper" class="homepageWrapper">
  <div id="contentHome" class="" >
    <section id="header">
      <div class="userNameTop">Welcome, {{ currentUser.pid.firstname }}</div>
          <img class="l_FirstLook" src="/assets/img/L_FirstLook.png" >
    </section>


    <div id="" class="graygradient" style="min-height:calc(100vh - 130px ) !important;min-height:600px;">

     <section id="title">
      <div  class="container fadein"  style="margin-top:30px;" >

      <h2>Profile Summary</h2>

      <p><img src="/assets/img/homepage/nav_generic_thumb.svg" width="120"></p>
      <p class="comment">Add an image to your profile </p>

    </div>
    <div class="" style="
    width: 27vmin;
    margin: auto;
    text-align: left;">
      <!--  Note:  need a conditional, if image profile picture exists, file path = foo, else display generic thumbnail. - generic_thumbnail.svg  -->

      <div id="">
        <p><span class="userItem">Name: </span>{{currentUser.pid.firstname}} {{currentUser.pid.lastname}}</p>
        <p><span class="userItem">Email: </span>{{currentUser.pid.email}}</p>
        <p><span class="userItem">ID: </span>{{currentUser.pid.pid}} </p>
        <!-- <p><span class="userItem">Job Title: </span>{{currentUser.pid.jobtitle}}</p> -->
        <p><span class="userItem">Manager: </span>{{currentUser.pid.managername}}</p>
        <p><span class="userItem">Region: </span>{{currentUser.pid.region}}</p>
        <p><span class="userItem">Division: </span>{{currentUser.pid.division}}</p>
      </div>
      <div class="Reg_btn" style="margin-top:40px; text-align: center;">
        {{#link-to 'firstlook.register-thanks' class="SR_btn" name="button" }}Submit{{/link-to}}
      </div>
    </div>
      </section>

  <section id="profileSummary" style="">
<!-- this form submits, but isn't working with Ember data properly. I'm still working on this -->
<!-- <div class="profile">
   {{#simple-form class="profile" startingValues=wizard.userInfo onsubmit=(action "saveForm") as | formValues |}}
    <!-- {{log formValues}} -->

    <label for="pid" >Employee ID</label>
    {{input class="userItem" type="text" id="pid"  value=formValues.pid placeholder="XXXXXXX"}}<br>
<label for="firstname" >First Name</label>
    {{input class="userItem" type="text"  id="firstname" value=formValues.firstname placeholder="First Name"}}<br>
<label for="lastname" >Last Name</label>
    {{input class="userItem" type="text"  id="lastname" value=formValues.lastname placeholder="Last Name"}}<br>
<label for="email" >Email</label>
    {{input class="userItem" type="text"   id="email" value=formValues.email placeholder="Email"}}<br>
<label for="password" >Password</label>
    {{input class="userItem" type="password"   id="password" value=formValues.password placeholder="Password"}}<br>
<label for="managername" >Manager Name</label>
    {{input class="userItem" type="text"   id="managername" value=formValues.managername placeholder="Manager Name"}}<br>
 <label for="division" >Division</label>
    {{input class="userItem" type="text"   id="division" value=formValues.division placeholder="Division"}}<br>
<label for="region" >Region</label>
    {{input class="userItem" type="text"   id="region" value=formValues.region placeholder="Region"}}<br>
    <div class="button-box">
      <button type="submit" style="border-radius: 0rem;" class="Reg_btn submit">Submit</button>
    </div>
  {{/simple-form}}
</div> -->

  <!-- <form id="final-form" onsubmit={{action "save"}}>
    <span class="userItem">Name: </span>{{input class="form__input" type="text"  value=wizard.userInfo.pid placeholder="P•XXXXXXX"}}<br>
    {{input class="form__input" type="text"  value=wizard.userInfo.firstname placeholder="First Name"}}<br>
    {{input class="form__input" type="text"  value=wizard.userInfo.lastname placeholder="Last Name"}}<br>
    {{input class="form__input" type="text"  value=wizard.userInfo.email placeholder="Email"}}<br>
    {{input class="form__input" type="password"  value=wizard.userInfo.password placeholder="Password"}}<br>
    {{input value=wizard.userInfo.managername placeholder="Manager Name"}}<br>

   <select onchange={{action "selectRegion" value="target.value"}} id="region" name="region">
      {{#each regions as |regionChoice|}}
        <option value={{regionChoice}} selected={{eq region regionChoice}}>{{regionChoice}}</option>
      {{/each}}
    </select>
<br>
    <select onchange={{action "selectDivision" value="target.value"}} id="division" name="division">
      {{#each divisions as |divisionChoice|}}
        <option value={{divisionChoice}} selected={{eq division divisionChoice}}>{{divisionChoice}}</option>
      {{/each}}
    </select>
    <div class="button-box">
      <button type="submit" class="SR_btn">Submit</button>
    </div>
  </form> -->
</section>



 <!-- <section id="nav-wrapper">
    <div id="nav" class="navconf">
    {{#link-to 'firstlook.register-info' (query-params cat="left") }}<img class="navLeft" src="/assets/img/Nav_Left.svg" >{{/link-to}}<img class="navRight" src="/assets/img/Nav_Right.svg">
    </div>
<div id="line" class="" >

      <svg id="cir3" class="three" height="30" width="30" >
        <circle cx="15" cy="15" r="15" stroke="#0099D8" stroke-width="1" fill="white" />
        <text x="50%" y="50%" alignment-baseline="middle" text-anchor="middle">3</text>
      </svg>
 </div>
</section> -->


</div>

<section id="homepageCornerLogo">
  <img src="/assets/img/Spectrum_Reach_Rev_RGB.svg">
</section>

<section id="stickyFooter">
<p>Copyright 2018 • Spectrum Reach • All Rights Reserved</p>
</section>


</div>
</div>
