<div class="row " >
  <div class="col-sm-12 col-lg-6 leaderboard" style="text-align: left;"><h1>LEADERBOARD<span class="dkBlue">/AE</span></h1><p class="footnote" style="padding-left: 5px;">Ranking is based on % to goal</p></div>
  <div class="col-sm-12 col-lg-6 eliteNav" style="">
    {{#link-to 'firstlook.leaderboard.elite-ae15m' replace="true"}}<img src="/assets/img/leaderboard/01_tab.png" class="tab"/>{{/link-to}}
    {{#link-to 'firstlook.leaderboard.elite-ae1m' replace="true"}}<img src="/assets/img/leaderboard/02_tab.png" class="tab"/>{{/link-to}}
    {{#link-to 'firstlook.leaderboard.elite-ae700k' replace="true"}}<img src="/assets/img/leaderboard/03_tab.png" class="tab"/>{{/link-to}}
    {{#link-to 'firstlook.leaderboard.elite-ae450k' replace="true"}}<img src="/assets/img/leaderboard/04_tab.png" class="tab"/>{{/link-to}}
    <img src="/assets/img/leaderboard/05_section.png" class="tabActive"/>
    <div class="footnote"><p class="" style="">    Select tabs to view Top 8 by Category </p></div>

  </div>
</div>



<div class="row" class="eliteGroup" >
  {{#each model as |Eliteae1m|}}

        <div class="col-sm-12 col-md-6 col-lg-3 eliteItem"  style="text-align:left; ">

          <div class="image1st" style="">
            <div class="rank">{{Eliteae1m.rank}}</div>
            <img style="" src="/assets/img/leaderboard/userPhoto.jpg"   >

            <!--  DUPLICATE: this block hidden for mobile, visible for desktop only because of difficulty in resizing svg -->
            <div class="percent" style="">
              <svg width="80" height="80">
                  <circle cx="40" cy="40" r="20" fill="#0099D8" />
                    <text x="50%" y="50%" text-anchor="middle" fill="white" font-size="13px" font-family="Arial" dy=".35em">{{ Eliteae1m.fullyear }}%</text>
                    <!-- replace text with user percent  -->
              </svg>
          </div>
          <!--  DUPLICATE: this block hidden for desktop, visible for mobile only because of difficulty in resizing svg -->
          <div class="percent2" style="">
            <svg width="118" height="118">
                <circle cx="59" cy="59" r="30" fill="#0099D8" />
                  <text x="50%" y="50%" text-anchor="middle" fill="white" font-size="18px" font-family="Arial" dy=".25em">{{ Eliteae1m.fullyear }}%</text>
            </svg>
        </div>
        <!--   END DUPLICATE BLOCKS  -->

        <!--  This set of info block hidden on desktop; displayed mobile only -->
        <div class=" eliteDatum2m  " style=" ">
          <span class="ltBlue">Name</span>  <span >{{ Eliteae1m.name}}</span><br><span class="ltBlue">Manager</span> {{ Eliteae1m.managername}}<br> <span class="ltBlue">Locale</span> {{ Eliteae1m.division}}/{{ Eliteae1m.region}}
        </div>


          </div>

          <!--  This Progress bar block hidden on mobile  -->
          <div class="eliteProgressBar" style="  ">
              <div class="progress" style="">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{ Eliteae1m.fullyear }}" aria-valuemin="0" aria-valuemax="100" style=" width:{{ Eliteae1m.fullyear }}%; ">
                </div>
              </div>
         </div>
         <!--   END Progress bar  -->

         <!--  This set of info block hidden on mobile; displayed desktop only -->
          <div class=" eliteDatum2  " style=" ">
            <span class="ltBlue">Name</span>  <span >{{ Eliteae1m.name}}</span><br><span class="ltBlue">Manager</span> {{ Eliteae1m.managername}}<br> <span class="ltBlue">Division</span> {{ Eliteae1m.division}}<br> <span class="ltBlue">Region</span> {{ Eliteae1m.region}}
          </div>
        </div>

  {{/each}}
  </div>

{{outlet}}
