<div id="wrapper">
  <div id="contentReg" class="AnimDown" >

    <section id="header">
          <img class="l_FirstLook" src="../assets/img/L_FirstLook.png">
    </section>

<section id="title">
  <h3>Set Username and Password</h3>
</section >

  <!-- <section id="formHolder" style="">
  <form action="" autocomplete="on" >
    <input type="text" placeholder="First Name" name="First Name" /><br>
    <input type="text" placeholder="Last Name" name="Last Name" /><br>
    <input type="email" placeholder="Email" name="Email" /><br>
    <input type="password" placeholder="Create Password" name="Password" /><br>
    <label for="Password" >(Not your P•ID password/min 8 characters)</label>
  </form>
</section> -->
  <section id="formHolder" style="">
    <form onsubmit={{action "save"}}>
      {{input type="text" placeholder="First Name" value=wizard.userInfo.first }}<br>
      {{input type="text" value=wizard.userInfo.last placeholder="Last Name"}}<br>
      {{input type="text" value=wizard.userInfo.email placeholder="Email"}}<br>
      <!-- {{password-toggle password=wizard.userInfo.password}}<br> -->
      {{input id="password" type="password" value=wizard.userInfo.password placeholder="Create Password"}}<br>
      <label for="password" >(Not your P•ID password/min 8 characters)</label><br>
      <!-- <button class="SR_btn">Next</button> -->
    </form>
</section>

<section id="nav-wrapper">
  <div id="nav">
  <img class="navLeft" src="../assets/img/Nav_Left_End.svg" >
  {{#link-to 'firstlook.register-info' class="button" }}
<img class="navRight" src="../assets/img/Nav_Right.svg">
    {{/link-to}}
</div>
<div id="line">
      <svg height="30" width="30">
        <circle cx="15" cy="15" r="15" stroke="#0099D8" stroke-width="1" fill="white" />
        <text x="50%" y="50%" alignment-baseline="middle" text-anchor="middle">1</text>

      </svg>
 </div >
</section>

<section id="bottomLogo" >
  <img src="../assets/img/Spectrum_Reach_Rev_RGB.svg">
</section>

</div>
</div>
